.header{
  $height-mobile: 86px;
  $height-tablet: 140px;
  $height-sticky: 86px;

  position: relative;

  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 0 5px 20px 0 rgba($black, .2);
    z-index: 1;

    > .container {
      width: 1306px;
      max-width: inherit;

      @media only screen and (max-width: $desktopOnly) {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        width: 1836px;
      }
    }
  }

  &__body {
    @media only screen and (min-width: $desktopWideLarge) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  &__right {
    @media only screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      margin-top: 2px;
    }

    @media only screen and (min-width: $desktopWideLarge) {
      display: none;
    }

    ul {
      display: none;

      @media only screen and (min-width: $tablet) and (max-width: $desktopOnly) {
        display: flex;
        align-items: center;
      }

      li {
        margin-left: 12px;
      }
    }

    .form-header {
      position: relative;

      &__input {
        display: none;

        input {
          min-width: 188px;

          @media only screen and (min-width: $tablet) and (max-width: 845px) {
            min-width: inherit;
            max-width: 110px;
          }
        }
      }

      &:hover {
        .form-header__input {
          display: block;
        }
      }
    }
  }

  &__image {
    margin-top: 3px;

    @media only screen and (min-width: $tablet) {
      margin-top: 2px;
      margin-left: -1px;
    }

    @media only screen and (min-width: $desktopWideLarge) {
      margin-top: 7px;
    }

    a {
      font-size: 0;

      &:before {
        font-size: 50px;
        transition: .5s;

        @media only screen and (min-width: $tablet) {
          font-size: 89.6px;
        }

        @media only screen and (min-width: $desktopSupperWideLarge) {
          font-size: 104.3px;
        }
      }
    }
  }

  &__logo {
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $height-mobile;

      @media only screen and (min-width: $tablet) {
        height: $height-tablet;
      }

      @media only screen and (min-width: $desktopWideLarge) {
        transition: .5s;
      }
    }
  }

  &__top {
    order: 2;

    @media only screen and (min-width: $tablet) and (max-width: $desktopOnly) {
      display: none;
    }

    @media only screen and (min-width: $desktopWideLarge) {
      order: inherit;
      margin-bottom: 14px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-bottom: 18px;
    }

    ul {
      display: flex;
      flex-direction: column;

      @media only screen and (min-width: $desktopWideLarge) {
        flex-direction: inherit;
        align-items: center;
        justify-content: flex-end;
      }

      li {
        margin-bottom: 10px;

        @media only screen and (min-width: $desktopWideLarge) {
          margin: 0 0 0 31px;
        }

        @media only screen and (min-width: $desktopSupperWideLarge) {
          margin: 0 0 0 40px;
        }

        &.text {
          text-align: center;
          order: 3;

          @media only screen and (min-width: $desktopWideLarge) {
            order: inherit;
            margin-left: 28px;
          }

          @media only screen and (min-width: $desktopSupperWideLarge) {
            margin-left: 38px;
            margin-top: -1px;
          }

          a {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            letter-spacing: 0;
            border: 0;

            @media only screen and (min-width: $desktopSupperWideLarge) {
              font-size: 14px;
            }

            span {
              margin: 0 4px 0 3px;
            }
          }
        }

        &.form-header {
          order: 2;

          @media only screen and (min-width: $desktopWideLarge) {
            order: inherit;
          }
        }

        a.btn {
          @extend .btn--full;

          @media only screen and (min-width: $desktopWideLarge) {
            width: auto;
          }
        }
      }
    }
  }

  &__menu {
    height: calc(100vh - #{$height-mobile});
    overflow: auto;
    display: none;
    background-color: $white;

    @media only screen and (min-width: $tablet) {
      height: calc(100vh - #{$height-tablet});
    }

    @media only screen and (min-width: $desktopWideLarge) {
      height: auto;
      display: block !important;
      overflow: visible;
      margin-top: 9px;
    }

    &__wrap {
      display: flex;
      flex-direction: column;

      @media only screen and (min-width: $desktopWideLarge) {
        display: block;
      }

      .main-menu {
        margin-bottom: 20px;
        flex: 0 0 auto;

        @media only screen and (min-width: $desktopWideLarge) {
          margin-bottom: -1px;
          margin-right: 2px;
        }
      }
    }
  }

  &__fixed {
    height: $height-mobile;

    @media only screen and (min-width: $tablet) {
      height: $height-tablet;
    }

    @media only screen and (min-width: $desktopWideLarge) {
      transition: .5s;
    }
  }

  &.is-sticky {
    .main-menu > ul > li {
      margin-left: 24px;

      @media only screen and (min-width: $desktopSupperWideLarge) {
        margin-left: 31px;
      }
    }

    .header__fixed {
      @media only screen and (min-width: $desktopWideLarge) {
        height: $height-sticky;
      }
    }

    .header__logo {
      &__wrap {
        @media only screen and (min-width: $desktopWideLarge) {
          height: $height-sticky;
        }
      }
    }

    .header__menu {
      margin-top: -3px;

      @media only screen and (min-width: $desktopWideLarge) {
        overflow: visible;
      }

      &__wrap {
        @media only screen and (min-width: $desktopWideLarge) {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }

        > .main-menu {
          @media only screen and (min-width: $desktopWideLarge) {
            margin: 0;
          }
        }
      }
    }

    .header__image {
      @media only screen and (min-width: $desktopWideLarge) {
        width: 100px;
        margin-top: -5px;
        overflow: hidden;
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        width: 120px;
      }

      a {
        &:before {
          @media only screen and (min-width: $desktopWideLarge) {
            font-size: 74px;
          }

          @media only screen and (min-width: $desktopSupperWideLarge) {
            font-size: 87px;
          }
        }
      }
    }

    .header__top {
      margin-bottom: 0;

      @media only screen and (min-width: $desktopSupperWideLarge) {
        margin-left: 13px;
      }

      ul {
        li {
          margin: 0 0 0 20px;

          @media only screen and (min-width: $desktopSupperWideLarge) {
            margin: 0 0 0 23px;
          }

          &.text {
            @media only screen and (min-width: $desktopWideLarge) {
              display: none;
            }
          }

          &.form-header {
            @media only screen and (min-width: $desktopWideLarge) {
              order: 2;

              .form-header__submit {
                button {
                  position: static;
                  transform: none;
                }
              }

              .form-header__input {
                &:before {
                  content: "";
                  position: absolute;
                  width: calc(100% + 5px);
                  height: 15px;
                  top: 100%;
                  right: 0;
                  display: inline;
                }

                input {
                  position: absolute;
                  right: 0;
                  top: calc(100% + 15px);
                  background-color: $white;
                }
              }
            }
          }

          a.btn {
            min-width: 189px;
          }
        } 
      } 
    } 
  }
}

.menu-bars {
  display: inline-block;
  margin-left: 20px;

  @media only screen and (min-width: $tablet) {
    margin-left: 20px;
  }

  &__row {
    display: block;
    height: 2px;
    background-color: $black;
    transition: .5s;
    width: 25px;

    ~ .menu-bars__row {
      margin-top: 4px;
    }
  }

  &.is-change {
    .menu-bars__row {
      &:nth-of-type(1) {
        transform: translateY(6px) rotate(45deg);
        width: 26px;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-6px) rotate(-45deg);
        width: 26px;
      }
    }
  }
}

.form-header {
  position: relative;

  &:hover {
    @media only screen and (min-width: $desktopWideLarge) {
      .form-header__input {
        display: block;
      }
    }
  }

  &__submit {
    button {
      font-size: 0;
      padding: 0;
      border: 0;
      position: absolute;
      top: calc(50% - 2px);
      transform: translateY(-50%);
      right: 10px;
      min-width: auto;
      background-color: transparent;
      color: inherit;

      &:before {
        font-size: 17px;

        @media only screen and (min-width: $desktopWideLarge) {
          font-size: 19px;
        }

        @media only screen and (min-width: $desktopSupperWideLarge) {
          font-size: 25px;
        }
      }
    }
  }

  &__input {
    input {
      padding: 7.5px 10px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      background-color: transparent;
      border: 1px solid rgba($black, .75);
      width: 100%;

      @media only screen and (min-width: $desktopWideLarge) {
        width: auto;
        min-width: 188px;
        padding: 7.5px 14px;
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        min-width: 216px;
        padding: 8.5px 15px;
      }
    }

    @media only screen and (min-width: $desktopWideLarge) {
      display: none;
    }

    &:before {
      content: "";
    }
  }
}
