.header{
  $height-mobile: 66px;
  $height-tablet: 140px;
  $height-sticky: 86px;
  position: relative;

  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($white , .9);
    z-index: 3;

    @media only screen and (max-width: $desktopLargeOnly) {
      background-color: $white;
    }

    > .container {
      max-width: 100%;
      margin: 0;

      @include container-header;
    }
  }

  &__body {
    @media only screen and (min-width: $desktopLarge) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (min-width: $tablet) {
      margin-top: 2px;
    }

    @media only screen and (min-width: $desktopLarge) {
      display: none;
    }

    ul {
      display: none;

      @media only screen and (min-width: $tablet) and (max-width: $desktopLargeOnly) {
        display: flex;
        align-items: center;
      }

      li {
        margin-left: 12px;
      }
    }

    .form-header {
      position: relative;

      &__input {
        display: none;
        align-items: center;
        justify-content: center;

        input {
          min-width: 188px;

          @media only screen and (min-width: $tablet) and (max-width: 845px) {
            min-width: inherit;
            max-width: 98px;
            padding-left: 5px;
          }
        }
      }

      &:hover {
        .form-header__input {
          display: flex;
        }
      }
    }
  }

  &__image {
    @media only screen and (max-width: $mobileOnly) {
      margin-top: 6px;
    }

    a {
      line-height: 0;

      img {
        width: 200px;
        height: auto;

        @media only screen and (min-width: $tablet) {
          width: 336px;
        }

        @media only screen and (min-width: $desktopLarge) and (max-width: $desktopOnly) {
          width: 240px;
        }
        
        @media only screen and (min-width: $desktopSupperLarge) {
          width: 391px;
        }

        &.sticky {
          display: none;
        }
      }
    }
  }

  &__phone {
    margin-top: 12px;

    i:before {
      font-size: 23px;
    }

    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__logo {
    @media only screen and (max-width: $desktopLargeOnly) {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 2;
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $height-mobile;

      @media only screen and (min-width: $tablet) {
        height: $height-tablet;
      }
    }
  }

  &__top {
    order: 2;

    @media only screen and (min-width: $desktopLarge) {
      order: inherit;
      margin-bottom: 14px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-bottom: 18px;
    }

    ul {
      display: flex;
      flex-direction: column;

      @media only screen and (min-width: $desktopLarge) {
        flex-direction: inherit;
        align-items: center;
        justify-content: flex-end;
      }

      li {
        margin-bottom: 20px;

        @media only screen and (min-width: $desktopLarge) {
          margin: 0 0 0 31px;
        }

        @media only screen and (min-width: $desktopSupperLarge) {
          margin: 0 0 0 39px;
        }

        &.text {
          text-align: center;
          order: 3;

          @media only screen and (min-width: $desktopLarge) {
            order: inherit;
            margin-left: 28px;
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            margin-left: 38px;
            margin-top: -5px;
          }

          span,
          a {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            letter-spacing: 0;
            border: 0;

            @media only screen and (min-width: $desktopSupperLarge) {
              font-size: 14px;
            }

            span,
            a {
              margin: 0 4px 0 3px;
            }
          }
        }

        &.form-header {
          order: 2;

          @media only screen and (max-width: $desktopLargeOnly) {
            margin-bottom: 23px;
          }

          @media only screen and (min-width: $desktopLarge) {
            order: inherit;
          }
        }

        .btn {
          transition: none;

          @media only screen and (max-width: $desktopLargeOnly) {
            width: 100%;
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            font-size: 14px;
            min-width: 216px;
            padding: 12px;
          }
        }
      }
    }
  }

  &__menu {
    height: calc(100vh - #{$height-mobile});
    overflow: auto;
    display: none;
    background-color: $white;
    padding-top: 10px;

    @media only screen and (max-width: $desktopLargeOnly) {
      position: relative;
      overflow: hidden;
    }

    @media only screen and (min-width: $tablet) {
      height: calc(100vh - #{$height-tablet});
      padding: 0;
    }

    @media only screen and (min-width: $desktopLarge) {
      height: auto;
      display: block !important;
      overflow: visible;
      margin-top: 0;
      background-color: transparent;
    }

    > .container {
      @media only screen and (max-width: $desktopLargeOnly) {
        max-height: 100%;
        overflow-y: auto; 
      }
    }

    &__wrap {
      display: flex;
      flex-direction: column;

      @media only screen and (min-width: $desktopLarge) {
        display: block;
      }

      .main-menu {
        margin-bottom: 30px;
        flex: 0 0 auto;

        @media only screen and (min-width: $desktopLarge) {
          margin-bottom: -1px;
          margin-right: 2px;
        }
      }
    }
  }

  &__fixed {
    height: $height-mobile;
    font-size: 0;

    @media only screen and (min-width: $tablet) {
      height: $height-tablet;
    }
  }

  &.is-sticky {
    .header__wrap {
      box-shadow: 0 5px 20px 0 rgba($black, .2);
    }

    .main-menu > ul > li {
      & > span {
        & > a {
          @media only screen and (min-width: $desktopLarge) {
            padding-left: 12px;
            padding-right: 12px;
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            padding-left: 15.5px;
            padding-right: 15.5px;
          }

          &:after {
            @media only screen and (min-width: $desktopLarge) {
              width: calc(90% - 12px - 12px);
            }

            @media only screen and (min-width: $desktopSupperLarge) {
              width: calc(90% - 15.5px - 15.5px);
            }
          }
        }
      }

      &:last-of-type {
        & > span > a {
          @media only screen and (min-width: $desktopLarge) {
            padding-right: 0;

            &:after {
              left: calc(50% + 6px);
            }
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            &:after {
              left: calc(50% + 7.75px);
            }
          }
        }
      }
    }

    .header__logo {
      &__wrap {
        @media only screen and (min-width: $desktopLarge) {
          height: $height-sticky;
        }
      }
    }

    .header__menu {
      @media only screen and (min-width: $desktopLarge) {
        margin-top: 0;
        overflow: visible;
      }

      &__wrap {
        @media only screen and (min-width: $desktopLarge) {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }

        > .main-menu {
          @media only screen and (min-width: $desktopLarge) {
            margin: 0;
          }
        }
      }
    }

    .header__image {
      a {
        img {
          &.sticky {
            @media only screen and (min-width: $desktopLarge) {
              width: 85px;
              display: block;
            }

            @media only screen and (min-width: $desktopSupperLarge) {
              width: 116px;
            }
          }

          &.hidden-when-sticky {
            @media only screen and (min-width: $desktopLarge) {
              display: none;
            }
          }
        }
      }
    }

    .header__top {
      @media only screen and (min-width: $desktopLarge) {
        margin-bottom: 0;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-left: 13px;
      }

      ul {
        li {
          @media only screen and (min-width: $desktopLarge) and (max-width: $desktopOnly) {
            margin: 0 0 0 20px;
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            margin: 0 0 0 23px;
          }

          &.text {
            @media only screen and (min-width: $desktopLarge) {
              display: none;
            }
          }

          &.form-header {
            @media only screen and (min-width: $desktopLarge) {
              order: 2;
              margin: 0;
              padding-left: 31px;

              &:hover:before {
                content: "";
                position: absolute;
                top: 100%;
                width: 50px;
                right: 0;
                height: 33px;
              }

              .form-header__submit {
                [type="submit"] {
                  position: static;
                  transform: none;
                }
              }

              .form-header__input {
                position: absolute;
                right: 0;
                background-color: rgba($white , .9);
                padding: 20px;
                top: 54px;
              }
            }

            @media only screen and (min-width: $desktopSupperLarge) {
              padding-left: 23px;
            }
          }

          a.btn {
            @media only screen and (min-width: $desktopLarge) and (max-width: $desktopOnly) {
              padding: 12px;
            }
          }
        } 
      } 
    } 
  }
}

.menu-bars {
  display: inline-block;
  margin-left: 20px;

  @media only screen and (min-width: $tablet) {
    margin-left: 20px;
  }

  &__row {
    display: block;
    height: 2px;
    background-color: $black;
    transition: .5s;
    width: 25px;

    ~ .menu-bars__row {
      margin-top: 4px;
    }
  }

  &.is-change {
    .menu-bars__row {
      &:nth-of-type(1) {
        transform: translateY(6px) rotate(45deg);
        // width: 26px;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-6px) rotate(-45deg);
        // width: 26px;
      }
    }
  }
}

.form-header {
  position: relative;

  &:hover {
    @media only screen and (min-width: $desktopLarge) {
      .form-header__input {
        display: block;
      }
    }
  }

  &__submit {
    [type="submit"] {
      font-size: 0;
      padding: 0;
      border: 0;
      position: absolute;
      top: calc(50% - 2px);
      transform: translateY(-50%);
      right: 10px;
      min-width: inherit;
      background-color: transparent;
      color: inherit;

      @media only screen and (max-width: $desktopLargeOnly) {
        width: auto;
        right: 17px;
      }

      &:before {
        font-size: 19px;

        @media only screen and (min-width: $desktopLarge) {
          font-size: 19px;
        }

        @media only screen and (min-width: $desktopSupperLarge) {
          font-size: 25px;
        }
      }
    }
  }

  &__input {
    input {
      padding: 7.5px 40px 7.5px 10px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      background-color: transparent;
      border: 1px solid rgba($black, .75);
      width: 100%;

      @media only screen and (min-width: $desktopLarge) {
        width: auto;
        min-width: 188px;
        padding: 7.5px 27px 7.5px 7px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        min-width: 216px;
        padding: 8.5px 39px 8.5px 15px;
      }
    }

    @media only screen and (min-width: $desktopLarge) {
      display: none;
    }

    &:before {
      content: "";
    }
  }
}
