// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

@viewport{
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}

//Enable font-smoothing
html {
  @include muli;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: $base-font-size; // Don't modify static unit.
  font-smoothing: antialiased;
  font-weight: 300;
  line-height: $base-line-height;

  @media only screen and (min-width: $desktopSupperWideLarge) {
    font-size: 19px;
    line-height: 1.421;
  }
}

body {
  // Disable in production mode;
  // @include show-breakpoints;
  text-size-adjust: none;
}
