.main-menu {
  > ul{
    @media only screen and (min-width: $desktop) {
      display: flex;
    }

    > li {
      @media only screen and (min-width: $desktop) {
        margin-left: 27px;
      }

      @media only screen and (min-width: $desktop) and (max-width: $desktopOnly) {
        margin-left: 15px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-left: 31px;
      }

      &:first-of-type {
        @media only screen and (min-width: $desktop) {
          margin-left: 0;         
        }
      }

      &:hover {
        @media only screen and (min-width: $desktop) {
          .main-menu__wrap {
            opacity: 1;
            visibility: visible;
          }

          > span {
            > a {
              border-color: #d6d6d6;

              &:before {
                content: "";
                width: 100%;
                top: 100%;
                left: 0;
                height: 41px;
                background-color: transparent;
                position: absolute;
              }
            }
          }
        }
      }
      
      span {
        position: relative;

        a {
          font-weight: 400;
          font-size: 13px;
          line-height: 1;
          display: inline-block;
          padding: 12px 0;
          width: 100%;
          border-bottom: 1px solid #d6d6d6;
          text-transform: uppercase;

          @media only screen and (min-width: $desktop) and (max-width: $desktopOnly) {
            font-size: 12px;
          }
        }

        i {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          padding: 0 0 0 15px;

          @media only screen and (min-width: $desktop) {
            display: none;
          }

          &:before {
            font-size: 17px;

            @media only screen and (min-width: $desktopSupperLarge) {
              font-size: 28px;
            }
          }
        }
      }
      
      > span {
        > a {
          @media only screen and (min-width: $desktop) {
            border-color: transparent;
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            font-size: 15px;
          }
        }
      }
    }
  }

  .sub-menu {
    margin-bottom: 20px;

    @media only screen and (min-width: $desktop) {
      width: 30%;
    }

    > li {
      @media only screen and (min-width: $desktop) {
        &:hover {
          > .main-menu__image {
            visibility: visible;
            opacity: 1;
          }

          .sub-menu__wrap {
            visibility: visible;
            opacity: 1;

            + .main-menu__image {
              display: none;
            }
          }
          
          > span {
            > a {
              border-color: $black;
              color: $primary-color;

              i {
                display: inline;

                &:before {
                  color: $black;
                }
              }
            }
          }
        }
      }

      .main-menu__image {
        span {
          a {
            padding: 0;
            border: 0;
            line-height: 0;
          }
        }
      }
      
      > span {
        > a {
          @media only screen and (min-width: $desktop) {
            padding: 12px 0;
          }
        }
      }
    }

    &__wrap {
      position: absolute;
      background-color: $white;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100vh;
      z-index: 1;
      transition: .5s;
      overflow: hidden auto;

       @media only screen and (min-width: $desktop) {
        top: 0;
        right: 0;
        left: inherit;
        width: 70%;
        height: auto;
        overflow: visible;
        opacity: 0;
        visibility: hidden;
        margin-top: 14px;
        padding-left: 7px;
        background-color: transparent;
       }

       @media only screen and (min-width: $desktopSupperLarge) {
          margin-top: 20px;
          padding-left: 11px;
       }

      &.is-show {
        left: 0%;
      }

      .sub-menu > li:hover > span > a > i {
        display: none;
      }
    }

    &__body {
      li {
        @media only screen and (min-width: $desktop) {
          margin-bottom: 17px;
          padding-right: 55px;
        }

        @media only screen and (min-width: $desktopSupperLarge) {
          margin-bottom: 25px;
          padding-right: 85px;
        }
        
        span {
          a {
            @media only screen and (min-width: $desktop) {
              @include muli;
              text-transform: capitalize;
              color: $primary-color;
              font-weight: 400;
              font-size: 14px;
              line-height: 1.5714;
              border-color: transparent;
              padding: 2px 0;
            }

            @media only screen and (min-width: $desktopSupperLarge) {
              font-size: 19px;
              line-height: 1.5789;
            }
          }
        }

        &:hover {
          span {
            a {
              border-color: $black;
            }
          }
        }
      }
    }
  }

  &__wrap {
    position: absolute;
    background-color: $white;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: .3s;
    overflow: hidden auto;

    @media only screen and (min-width: $desktop) {
      left: 0;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      height: auto;
      padding-top: 20px;
      padding-bottom: 7px;
      min-height: 410px;
      background-color: rgba($white, .95);
    }

    .container {
      @media only screen and (min-width: $desktop) {
        max-width: 900px;
      }

      @media only screen and (min-width: $desktopWideLarge) {
        max-width: 1085px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        max-width: 1524px;
      }
    }

    &.is-show {
      left: 0%;
    }
  }

  &__body {
    @media only screen and (min-width: $desktop) {
      position: relative;
    }

    > .sub-menu {
      @media only screen and (min-width: $desktop) {
        > li {
          padding-right: 103px;
          cursor: pointer;
          
          > span {
            > a {
              @include miller-display;
              font-weight: 400;
              font-size: 21px;
              color: #808080;
              transition: .5s;
              text-transform: capitalize;
            }
          }

          &:hover {
            > span {
              i {
                display: block;
              }
            }
          }
        }
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        > li {
          padding-right: 145px;
          
          > span {
            > a {
              font-size: 29px;
              padding: 18px 0;
              
            }
          }
        } 
      }
    }
  }

  &__top {
    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__image {
    display: none;

    @media only screen and (min-width: $desktop) {
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      padding: 0 3px;
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__back {
    > span {
      display: inline-block;
    }
  }

  .header__top {
    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.menu-second {
  @extend %text--small;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;

      @media only screen and (min-width: $desktop) {
        width: 100%;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-bottom: 3.5px;
      }

      &:nth-of-type(2n) {
        padding-left: 11px;

        @media only screen and (min-width: $desktop) {
          order: 1;
          padding: 0;
        }
      }
      
      span {
        a {
          display: inline-block;
          padding: 5px 5px 4px 0;

          @media only screen and (min-width: $desktopSupperLarge) {
            font-size: 17px;
            line-height: 1.3241;
          }
        }
      }
    }
  }
}
