.main-menu {
  > ul{
    @media only screen and (min-width: $desktop) {
      display: flex;
    }

    > li {
      @media only screen and (min-width: $desktop) {
        margin-left: 27px;
      }

      @media only screen and (min-width: $desktop) and (max-width: $desktopOnly) {
        margin-left: 15px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-left: 31px;
      }

      &:first-of-type {
        @media only screen and (min-width: $desktop) {
          margin-left: 0;         
        }
      }

      &:hover {
        @media only screen and (min-width: $desktop) {
          .main-menu__wrap {
            opacity: 1;
            visibility: visible;
            z-index: 1;
            pointer-events: inherit;
          }

          > span {
            > a {
              border-color: #d6d6d6;

              &:before {
                content: "";
                width: 100%;
                top: 100%;
                left: 0;
                height: 41px;
                background-color: transparent;
                position: absolute;
              }

              &:after {
                transform: scale(1);
              }
            }
          }
        }
      }
      
      span {
        position: relative;

        a {
          font-weight: 400;
          font-size: 13px;
          line-height: 1;
          display: inline-block;
          padding: 12px 0;
          width: 100%;
          border-bottom: 1px solid #d6d6d6;
          text-transform: uppercase;

          @media only screen and (max-width: $tabletOnly) {
            padding: 18px 8px;
          }

          @media only screen and (min-width: $desktop) and (max-width: $desktopOnly) {
            font-size: 12px;
          }
        }

        i {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          padding: 0 0 0 15px;

          @media only screen and (min-width: $desktop) {
            display: none;
          }

          &:before {
            font-size: 17px;

            @media only screen and (min-width: $desktopSupperLarge) {
              font-size: 28px;
            }
          }
        }
      }
      
      > span {
        > a {
          @media only screen and (min-width: $desktop) {
            border: 0;
            position: relative;
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            font-size: 15px;
          }

          &:after {
            @media only screen and (min-width: $desktop) {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              transition: .5s;
              transform-origin: 50% 50%;
              transform: scale(0);
              background-color: #d6d6d6;
            }
          }
        }
      }
    }
  }

  ul.active {
    ~ .image-custom {
      opacity: 0;
    }
  }

  &__back {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 27px;
  }

  &__title {
    @include muli;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
  }

  .sub-menu {
    margin-bottom: 30px;

    @media only screen and (min-width: $desktop) {
      width: 224px;
      margin-bottom: 0;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      width: 324px;
    }

    > li {
      @media only screen and (min-width: $desktop) {
        &:first-of-type > span > a {
          padding-top: 0;
        }

        &:hover {
          > .main-menu__image {
            visibility: visible;
            opacity: 1;
            z-index: 1;
          }

          .sub-menu__wrap {
            visibility: visible;
            opacity: 1;
            z-index: 1;

            + .main-menu__image {
              display: none;
            }
          }
          
          > span {
            > a {
              border-color: $black;
              color: $primary-color;

              i {
                display: inline;

                &:before {
                  color: $black;
                }
              }
            }
          }
        }
      }

      .main-menu__image {
        span {
          a {
            padding: 0;
            border: 0;
            line-height: 0;
          }
        }
      }
      
      > span {
        > a {
          @media only screen and (min-width: $desktop) {
            @include miller-display;
            font-weight: 400;
            font-size: 21px;
            color: #808080;
            transition: .5s;
            text-transform: capitalize;
            padding: 12px 10px 12px 0;
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            font-size: 29px;
            padding: 18px 10px 18px 0;
          }
        }
      }
    }

    &__wrap {
      position: absolute;
      background-color: $white;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100vh;
      transition: .5s;
      overflow: hidden auto;

       @media only screen and (min-width: $desktop) {
        top: 0;
        right: 0;
        bottom: 0;
        left: inherit;
        width: calc(100% - 224px);
        height: auto;
        overflow: visible;
        opacity: 0;
        visibility: hidden;
        padding-left: 111px;
        background-color: transparent;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        width: calc(100% - 324px);
      }

      &.is-show {
        left: 0%;
      }

      .sub-menu {
        @media only screen and (min-width: $desktop) {
          width: 193px;

          .main-menu__image {
            padding-left: 30px;
          }
        }

        @media only screen and (min-width: $desktopSupperLarge) {
          width: 293px;
        }

        & > li:hover > span > a > i {
          display: none;
        }
      }
    }

    &__body {
      li {
        @media only screen and (min-width: $desktop) {
          margin-bottom: 17px;
          padding-right: 0;

          &:last-of-type {
            margin: 0;
          }
        }

        @media only screen and (min-width: $desktopSupperLarge) {
          margin-bottom: 25px;
        }
        
        span {
          a {
            @media only screen and (min-width: $desktop) {
              @include muli;
              text-transform: capitalize;
              color: $primary-color;
              font-weight: 400;
              font-size: 14px;
              line-height: 1.5714;
              border-color: transparent;
              padding: 2px 0;
              position: relative;
              width: auto;

              &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                transition: .5s;
                transform-origin: 50% 50%;
                transform: scale(0);
                background-color: $black;
              }
            }

            @media only screen and (min-width: $desktopSupperLarge) {
              font-size: 19px;
              line-height: 1.5789;
            }
          }
        }

        &:hover {
          span {
            a {
              border-color: transparent;

              &:after {
                transform: scale(1);
              }
            }
          }
        }
      }

      .main-menu__image {
        @media only screen and (min-width: $desktop) {
          width: calc(100% - 193px - 111px);
        }
        @media only screen and (min-width: $desktopSupperLarge) {
          width: calc(100% - 293px - 111px);
        }
      }
    }
  }

  &__wrap {
    position: absolute;
    background-color: $white;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    transition: .3s;
    overflow: hidden auto;

    @media only screen and (min-width: $desktop) {
      left: 0;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      height: auto;
      padding: 30px 0;
      background-color: rgba($white, .95);
    }

    .container {
      @media only screen and (min-width: $desktop) {
        max-width: 1085px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        max-width: 1524px;
      }
    }

    &.is-show {
      left: 0%;
    }
  }

  &__body {
    @media only screen and (min-width: $desktop) {
      position: relative;
      min-height: 350px;
      overflow: hidden;

      @media only screen and (min-width: $desktopSupperLarge) {
        min-height: 508px;
      }

      .image-custom {
        padding-left: 111px;
      }
    }

    > .sub-menu {
      > li > span {
        i {
          @media only screen and (max-width: $tabletOnly) {
            display: none;
          }
        }
      }
      @media only screen and (min-width: $desktop) {
        > li {
          cursor: pointer;

          &:hover {
            > span {
              i {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  &__top {
    padding: 27px 8px 15px;
    border-bottom: 1px solid #d6d6d6;

    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__image {
    display: none;

    @media only screen and (min-width: $desktop) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: calc(100% - 224px);
      padding: 0;
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
      padding-left: 111px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      width: calc(100% - 324px);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__back {
    > span {
      display: inline-block;
    }
  }

  .header__top {
    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.menu-second {
  @extend %text--small;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;

      @media only screen and (min-width: $desktop) {
        width: 100%;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-bottom: 3.5px;
      }

      &:nth-of-type(2n) {
        @media only screen and (min-width: $tablet) {
          padding-left: 11px;
        }

        @media only screen and (min-width: $desktop) {
          order: 1;
          padding: 0;
        }
      }
      
      span {
        a {
          display: inline-block;
          padding: 5px 4px 2px 0;

          @media only screen and (min-width: $tablet) {
            padding: 5px 5px 4px 0;
          }

          @media only screen and (min-width: $desktopSupperLarge) {
            font-size: 17px;
            line-height: 1.3241;
          }
        }
      }
    }
  }
}

.image-custom {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 224px);
  line-height: 0;
  transition: .5s;
  opacity: 1;

  @media only screen and (min-width: $desktopSupperLarge) {
    width: calc(100% - 324px);
  }

  @media only screen and (max-width: $tabletOnly) {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}
