<div class="box-contact">
  <div class="container">
    <div class="box-contact__wrap">
      <div class="box-contact__left">
        <h3 class="box-contact__title">Book a Consultation</h3>

        <div class="box-contact__content">
          <p><span class="text-semibold">Arrange a personalised in home consultation with one of our designers, explore design possibilities for an uncompromising result.</span></p>

          <p><span class="text-semibold">Design Headquarters</span> <br>1300 133 326   |   0499 458 033</p>

          <p>info@markalexanderdesign.com.au</p>
        </div>

        <h3 class="box-contact__title">Enquiry Form</h3>

        <form action="">
          <div class="form-list">
            <div class="form-item form-text--full">
              <input type="text" placeholder="Name*">
            </div>
            <div class="form-item">
              <input type="email" placeholder="Email*">
            </div>

            <div class="form-item">
              <input type="tel" placeholder="Phone">
            </div>
            <div class="form-item">
              <textarea type="text" placeholder="message"></textarea>
            </div>
            <div class="form-item">
              <input type="text" placeholder="To help prevent spam, please type the word ‘artistry’."></input>
            </div>
          </div>

          <div class="form-list">
            <div class="form-item form-type-checkbox">
              <input type="checkbox" id="checkbox" class="form-checkbox">
              <label for="checkbox" class="option">Subscribe to news</label>
            </div>
            <div class="form-actions">
              <button type="submit">submit</button>
            </div>
          </div>
        </form>
      </div>

      <div class="box-contact__center">
        <h3 class="box-contact__title">Locations</h3>

        <div class="box-contact__content">
          <p><span class="text-semibold">Australia wide and international design consultations. Showroom viewings by appointment only.</span></p>
        </div>

        <div class="box-contact__list">
          <div class="box-contact__item">
            <p><span class="text-semibold">Melbourne</span> <br>Level 27, 101 Collins Street, <br>Melbourne VIC 3000</p>
          </div>

          <div class="box-contact__item">
            <p><span class="text-semibold">Sydney</span> <br>Level 26, 44 Market Street, <br>Sydney NSW 2000</p>
          </div>

          <div class="box-contact__item">
            <p><span class="text-semibold">Brisbane</span> <br>Level 27, Santos Place 32, <br>Turbot Street, <br>Brisbane QLD 4000</p>
          </div>

          <div class="box-contact__item">
            <p><span class="text-semibold">Adelaide</span> <br>Level 30, Westpac House, <br>91 King William Street, <br>Adelaide SA 5000</p>
          </div>
        </div>
      </div>

      <div class="box-contact__right">
        <img src="/pattern-lab/source/images/MA-Contact.jpg" alt="">
      </div>
    </div>
  </div>
</div>
