<div class="grid-gallery">
  <div class="grid-gallery__wrap">
    <div class="grid-gallery__top">
      <div class="grid-gallery__position">
        <div class="grid-gallery__item">
          <div class="grid-gallery__image">
            <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-1@2x.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="grid-gallery__item">
        <div class="grid-gallery__image">
          <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-2@2x.jpg" alt="">
        </div>
      </div>

      <div class="grid-gallery__item">
        <div class="grid-gallery__content">
          <h1 class="grid-gallery__title">contemporary french luxury</h1>
          
          <div class="grid-gallery__description">
            <h4 class="grid-gallery__subtitle">Artisan’s vision statement</h4>

            <p>Modern is the birthplace of minimalist which has evolved through the vision of the creators of Art Deco. It’s the movement of straight lines into sensual soft flowing curves and rounded enlightened shapes achieving the sense of endless flowing. It’s the evolvedolution on architecture and manufacture skilled gracefulness.</p>
          </div>
        </div>
      </div>

      <div class="grid-gallery__item grid-gallery__animation slide-2">
        <div class="grid-gallery__image">
          <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-3@2x.jpg" alt="">
        </div>
        <div class="grid-gallery__image">
          <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-3-secondary@2x.jpg" alt="">
        </div>
      </div>

      <div class="grid-gallery__item">
        <div class="grid-gallery__image">
          <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-4@2x.jpg" alt="">
        </div>
      </div>
    </div>
    
    <div class="grid-gallery__bottom">
      <div class="grid-gallery__position">
        <div class="grid-gallery__item">
          <div class="grid-gallery__image">
            <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-5@2x.jpg" alt="">
          </div>
        </div>

        <div class="grid-gallery__item grid-gallery__animation slide-2 delay-2">
          <div class="grid-gallery__image">
            <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-7@2x.jpg" alt="">
          </div>
          <div class="grid-gallery__image">
            <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-7-secondary@2x.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="grid-gallery__item">
        <div class="grid-gallery__quote hidden-on-mobile">
          <q>Artistry is how I think through my eyes to my heart to my hand</q>

          <div class="grid-gallery__logo">
            <img src="/images/mad_logo.svg" alt="">
          </div>
        </div>
      </div>

      <div class="grid-gallery__item grid-gallery__animation slide-2 delay-4">
        <div class="grid-gallery__image">
          <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-6@2x.jpg" alt="">
        </div>
        <div class="grid-gallery__image">
          <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-6-secondary@2x.jpg" alt="">
        </div>
      </div>

      <div class="grid-gallery__item">
        <div class="grid-gallery__image">
          <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-8@2x.jpg" alt="">
        </div>
      </div>

      <div class="grid-gallery__item">
        <div class="grid-gallery__image">
          <img src="/pattern-lab/source/images/MA-artistry-contemporaryfl-9@2x.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid-gallery--mobile">
    <div class="container">
      <div class="grid-gallery__quote hidden-on-desktop">
        <q>Artistry is how I think through my eyes to my heart to my hand</q>
      </div>

      <div class="grid-gallery__content">
        <div class="grid-gallery__description">
          <h4 class="grid-gallery__subtitle">Artisan’s vision statement</h4>

          <p>Modern is the birthplace of minimalist which has evolved through the vision of the creators of Art Deco. It’s the movement of straight lines into sensual soft flowing curves and rounded enlightened shapes achieving the sense of endless flowing. It’s the evolution on architecture and manufacture skilled gracefulness.</p>
        </div>
      </div>
    </div>
  </div>
</div>