<div class="box-image-video">
  <div class="box-image-video__content">
    <div class="container">
      <h2 class="box-image-video__title">Luxury Interior Design Without Limitations</h2>

      <div class="box-image-video__description">
        <p>An interior by Mark Alexander Design Artistry combines creative vision, enduring style, premium materials and supreme comfort, to deliver a highly personalised and captivating experience, that will enrich lives and be appreciated for generations to come. </p>
        <p>Join principal designer, furniture maker and talented artist Mark Alexander on a transformational journey and make your dream home a reality! </p>
        <p>Whether it’s a full home interior or bespoke feature piece, we’ll provide the same dedication to perfection, uncompromising quality and intimate service, to ensure your needs and desires are completely understood and realised.</p>
        <p>Anything is possible – the only limitation is your imagination!</p>
      </div>

      <div class="box-image-video__link hidden-on-mobile">
        <a href="" class="btn">VIEW ARTISTRY</a>
      </div>
    </div>
  </div>

  <div class="box-image-video__list">
    <div class="box-image-video__item">
      <div class="box-image-video__image"><img src="/images/artistry_board_01.jpg" alt=""></div>
    </div>

    <div class="box-image-video__item">
      <div class="box-image-video__image"><img src="/images/artistry_board_02.jpg" alt=""></div>
    </div>
  </div>
  
  <div class="box-image-video__list">
    <div class="box-image-video__item block-logo">
      <div class="box-image-video__image"><img src="/images/artistry_board_03.jpg" alt=""></div>
    </div>

    <div class="box-image-video__item">
      <div class="box-image-video__image"><img src="/images/artistry_board_04.jpg" alt=""></div>
    </div>
  </div>

  <div class="box-image-video__link hidden-on-desktop">
    <a href="" class="btn">VIEW ARTISTRY</a>
  </div>
</div>
