%btn,
.btn {
  @include muli;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: 12px;
  letter-spacing: 0;
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  padding:11px 23px 10px 23px;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  text-decoration: none;
  background-color: $btn-bg;
  color: $white;
  border: 1px solid $btn-bg;
  cursor: pointer;
  outline: 0;
  min-width: 188px;

  &:active,
  &:hover {
    background-color: $white;
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  &--nornal {
    min-width: 165px;
  }

  &--small{
    min-width: 150px;
  }

  &--with-icon {
    padding: 12px 45px 10px 79px;

    span {
      position: relative;
      @extend .icon-share;

      &:before {
        @extend %icons;
        position: absolute;
        left: -30px;
        top: 7px;
        font-size: 17px;
        transform: translate(0, -50%);
        color: $white;
      }
    }
  }

  &--gray {
    background: $gray;
    border: 1px solid $gray;
  }

  &--white {
    border: 1px solid $white;
    background: transparent;
    
    &:active,
    &:hover {
      border: 1px solid $white;
      background: $white;
    }
  }
}
