button,
input[type='submit'] {
  @extend .btn;
}

%form-text {
  @include muli;
  font-weight: 300;
  appearance: none;
  background-color: $light-gray;
  border-radius: 0;
  border: 0;
  box-shadow: inherit;
  box-sizing: border-box;
  color: $primary-color;
  font-size: 14px;
  padding: 7px 11px;
  transition: all .3s ease-in-out;
  min-width: 249px;
  line-height: 1.5714;
  letter-spacing: 0;

  @media only screen and (min-width: $desktopSupperLarge) {
    font-size: 19px;
    line-height: 1.421;
    padding: 12px 18px 11px;
  }
  
  &--full {
    width: 100%;
    min-width: inherit;
  }
  
  &--white {
    background-color: $white;
    color: $primary-color;
  }

  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: $primary-color;
    opacity: 1;
    text-transform: capitalize;
    white-space:pre-line; 
  }

  &::-moz-placeholder {
    color: $primary-color;
    opacity: 1;
    text-transform: capitalize;
    white-space:pre-line;  
  }

  &:-ms-input-placeholder {
    color: $primary-color;
    opacity: 1;
    text-transform: capitalize;
    white-space:pre-line;  
  }

  &:-moz-placeholder {
    color: $primary-color;
    opacity: 1;
    text-transform: capitalize;
    white-space:pre-line;  
  }

  &:focus {
    outline: 0 none;
  }

  &.error {
    border-color: $red;
    color: $red;

    &::-webkit-input-placeholder {
      color: $red;
    }

    &::-moz-placeholder {
      color: $red;
    }

    &:-ms-input-placeholder {
      color: $red;
    }

    &:-moz-placeholder {
      color: $red;
    }

    &:focus {
      box-shadow: 0 0 rem(5px) rgba($red, 1);
      outline: 0 none;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

// Input style
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="hidden"],
input[type="search"] {
  @extend %form-text;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.number-wrap {
  overflow: hidden;
  width: 100%;

  input {
    width: calc(100% + 15px);
    padding-right: 25px !important;
  }
}

.form-textarea,
textarea {
  @extend %form-text;
  height: auto;
  max-height: 105px;
}

.form-item,
.form-actions {
  margin:rem(0 0 11px);

  &.form-type-checkbox,
  &.form-type-radio {
    margin-bottom: rem(8px);
  }
}

.form-item {
  line-height: 0;
}

.form-type-checkbox,
.form-type-radio {
  label {
    font-weight: 400;
  }
}

.fieldset-legend {
  display: inline-block;
  font-weight: 700;
  margin-bottom: rem(8px);
}

select {
  outline: none;
  box-shadow: none;
  padding: 13px 38px 16px 16px;
  font-size: 12px;
  text-align-last: center;
  color: $text-color;
  background: url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI4OCIgaGVpZ2h0PSI0NDgiIHZpZXdCb3g9IjAgMCAyODggNDQ4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZmlsbD0iIzAwMCIgZD0iTTI2OC43NSAxODRjMCAyLTEgNC4yNS0yLjUgNS43NWwtMTE2LjUgMTE2LjVjLTEuNSAxLjUtMy43NSAyLjUtNS43NSAyLjVzLTQuMjUtMS01Ljc1LTIuNWwtMTE2LjUtMTE2LjVjLTEuNS0xLjUtMi41LTMuNzUtMi41LTUuNzVzMS00LjI1IDIuNS01Ljc1bDEyLjUtMTIuNWMxLjUtMS41IDMuNS0yLjUgNS43NS0yLjUgMiAwIDQuMjUgMSA1Ljc1IDIuNWw5OC4yNSA5OC4yNSA5OC4yNS05OC4yNWMxLjUtMS41IDMuNzUtMi41IDUuNzUtMi41czQuMjUgMSA1Ljc1IDIuNWwxMi41IDEyLjVjMS41IDEuNSAyLjUgMy43NSAyLjUgNS43NXoiPjwvcGF0aD4KPC9zdmc+Cg==') no-repeat scroll center right $white;
  background-size: 14px auto;
  background-position: calc(100% - 15px) center ;
  cursor: pointer;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "---";
  border: 0;
  border-radius: 0;
  font-family: inherit;

  &::-ms-expand{
    display: none;
  }

  option {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    color: $blue;
  }
}

%invisible,
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: rem(1px);
  margin: rem(-1px);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: rem(1px);
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;

  + label,
    + span {
    @include muli;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3333;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    padding-left: 23px;
    letter-spacing: 0;
    color: $primary-color;

    @media only screen and (min-width: $tablet) {
      padding-left: 25px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 19px;
      line-height: 1.5789;
      padding-left: 32px;
    }

    &:focus,
    &:hover,
    &:active{
      border-color: $primary-color;
    }

    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      border-radius: 0;
      background: $light-gray;
    }

    &:after {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      top: 50%;
      transform: translateY(-50%);
      left: 4px;
      border-radius: 0;
      background: $primary-color;
      box-sizing: border-box;

      @media only screen and (min-width: $desktopSupperLarge) {
        width: 10px;
        height: 9px;
        left: 2px;
      }
    }

    &.reverse:before {
      @media only screen and (max-width: $mobileOnly) {
        left: inherit;
        right: 0;
      }
    }

    &.reverse:after {
      @media only screen and (max-width: $mobileOnly) {
        left: inherit;
        right: 0;
      }
    }
  }

  &:checked {
    & + label, + span {
      &:before {
        background: $light-gray;
      }
    }
  }
}

// Checkbox and radio button.
input[type="radio"] {
  margin: 0;

  + label {
    &:before {
      border-radius: 50%;
      margin-top: -6px;
    }

    &:after {
      top: 1px;
      left: 50%;
    }
  }

  &:checked {
    & + label {
      &:after {
        width: 10px;
        height: 10px;
        opacity: 1;
        background: $blue;
        border-radius: 100%;
      }
    }
  }
}

input[type="checkbox"] {
  &:checked {
    & + label, + span {
      &:after {
        background: none;  
      }
    }
  }
}

// Contact form 7.
.wpcf7-validation-errors,
.wpcf7-acceptance-missing,
.div.wpcf7-mail-sent-ok,
.wpcf7-display-none {
  display: none !important;
}
