// Texts
.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Dark Colors
  &--dark {
    color: $text-color;
  }

  // Light Colors
  &--white {
    color: $white;

    a {
      @extend %link--white;
    }
  }
}

// Backgrounds
.bg {
  // Dark backgrounds
  &--primary {
    background-color: $primary-color;
  }

  // Light backgrounds
  &--white {
    background-color: $white;
  }

  &--gray {
    background: $gray;
  }

  &--light-gray {
    background: $light-gray;
  }

  //hidden-on-mobile
  .hidden-on-mobile {
    @media only screen and (max-width: $mobileOnly) {
      display: none;
    }
  }

  //hidden-on-desktop
  .hidden-on-desktop {
    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }
}
