// Texts
.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  // Dark Colors
  &--dark {
    color: $text-color;
  }

  // Light Colors
  &--white {
    color: $white;

    a {
      @extend %link--white;
    }
  }
}

// Backgrounds
.bg {
  // Dark backgrounds
  &--primary {
    background-color: $primary-color;
  }

  // Light backgrounds
  &--white {
    background-color: $white;
  }

  &--gray {
    background: $gray;
  }

  &--light-gray {
    background: $light-gray;
  }

  //hidden-on-mobile
  .hidden-on-mobile {
    @media only screen and (max-width: $mobileOnly) {
      display: none;
    }
  }

  //hidden-on-desktop
  .hidden-on-desktop {
    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.hidden-on-mobile {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.hidden-on-desktop {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.bg-logo {
  background-image: url('/images/ma_logo_white.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.block-logo {
  position: relative;
  ;

  &:before {
    content: "";
    @extend .bg-logo;
    position: absolute;
    right: -7%;
    top: -30%;
    width: 48.39%;
    height: 82.26%; 
  }
}
