// ICONS.
%icons {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'base';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    @extend %icons;
  }
}

.icon-youtube:before {
  content: "\e900";
}
.icon-pinterest:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-arrow:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e910";
}
.icon-zoom-out:before {
  content: "\e90e";
}
.icon-zoom-in:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e913";
}
.icon-heart:before {
  content: "\e917";
}
.icon-check:before {
  content: "\e918";
}
