// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include miller-display;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 25px;
}

h1,
.h1 {
  font-size: 28px;
  margin-bottom: 30px;

  @media only screen and (min-width: $tablet) {
    font-size: 28px;
    margin-bottom: 35px;
  }

  @media only screen and (min-width: $desktop) {
    font-size: 37px;
    margin-bottom: 42px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    font-size: 52px;
    margin-bottom: 45px;
  }
}

h2,
.h2 {
  font-size: 28px;
  margin-bottom: 20px;

  @media only screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media only screen and (min-width: $desktop) {
    font-size: 32px;
    margin-bottom: 35px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    font-size: 45px;
    margin-bottom: 40px;
  }

  &--section {
    margin-bottom: 47px;
  }
}

h3,
.h3 {
  font-size: 21px;
  margin-bottom: 20px;

  @media only screen and (min-width: $tablet) {
    font-size: 28px;
    margin-bottom: 27px;
  }

  @media only screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    font-size: 40px;
    margin-bottom: 35px;
  }

  &--second {
    margin-bottom: 22px;
  }
  
}

h4,
.h4 {
  font-size: 21px;
  margin-bottom: 20px;

  @media only screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media only screen and (min-width: $desktop) {
    margin-bottom: 25px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    font-size: 29px;
    margin-bottom: 27px;
  }
}

h5,
.h5 {
  font-size: 18px;
  margin-bottom: 20px;

  @media only screen and (min-width: $tablet) {
    margin-bottom: 22px;
  }

  @media only screen and (min-width: $desktop) {
    margin-bottom: 23px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    font-size: 25px;
    margin-bottom: 25px;
  }
}

h6,
.h6 {
  font-size: 16px;
  margin-bottom: 15px;

  @media only screen and (min-width: $tablet) {
    margin-bottom: 17px;
  }

  @media only screen and (min-width: $desktop) {
    margin-bottom: 20px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    font-size: 20px;
    margin-bottom: 22px;
  }
}

%link,
.link {
  color: $link-color;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;

  &:active{
    color: $link-color-hover;
  }

  &--white {
    color: $white;

    &:active,
    &:hover {
      color: darken($white, 15%);
    }
  }
}

a {
  @extend %link;
}

p {
  margin-bottom: 21px;

  @media only screen and (min-width: $desktopSupperLarge) {
    margin-bottom: 30px;
  }
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
}

small {
  font-size: smaller;
}

abbr {
  border-bottom: 1px dotted $text-color;
  cursor: help;
}

tt,
code,
kbd,
samp {
  font-family: monospace;
}

ol,
ul {
  margin: 0;
}

li {
  list-style: none;
}

label {
  font-weight: 700;
}

blockquote,
q {
  p:first-of-type {
    position: relative;

    &:before {
      content: '\201c';
      position: absolute;
      right: 100%;
      top: 0;
    }
  }

  p:last-of-type {
    position: relative;

    &:after {
      content: '\201d';
      position: absolute;
      bottom: 0;
    }
  }
}

iframe,
img {
  max-width: 100%;
}

figure {
  line-height: 0;
}
