// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include miller-display;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 25px;
}

h1,
.h1 {
  font-size: 37px;
  margin-bottom: 42px;
}

h2,
.h2 {
  font-size: 32px;
  margin-bottom: 35px;

  &--section {
    margin-bottom: 47px;
  }
}

h3,
.h3 {
  font-size: 28px;
  margin-bottom: 27px;

  &--second {
    margin-bottom: 22px;
  }
  
}

h4,
.h4 {
  font-size: 21px;
  margin-bottom: 24px;
}

h5,
.h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

h6,
.h6 {
  font-size: 16px;
  margin-bottom: 15px;
}

%link,
.link {
  color: $link-color;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;

  &:active{
    color: $link-color-hover;
  }

  &--white {
    color: $white;

    &:active,
    &:hover {
      color: darken($white, 15%);
    }
  }
}

a {
  @extend %link;
}

p {
  margin-bottom: 21px;
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
}

small {
  font-size: smaller;
}

abbr {
  border-bottom: 1px dotted $text-color;
  cursor: help;
}

tt,
code,
kbd,
samp {
  font-family: monospace;
}

ol,
ul {
  margin: 0;
}

li {
  list-style: none;
}

label {
  font-weight: 700;
}

blockquote {
  p {
    display: inline;
  }

  &:before {
    content: '\201c';
  }

  &:after {
    content: '\201d';
  }
}

q {
  &:before {
    content: "“";
  }

  &:after {
    content: "”";
  }
}

iframe,
img {
  max-width: 100%;
}

figure {
  line-height: 0;
}
