// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include miller-display;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 25px;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: rem(14px);
}

h6 {
  font-size: rem(12px);
}

%link,
.link {
  color: $link-color;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;

  &:active,
  &:hover {
    color: $link-color-hover;
  }

  &--white {
    color: $white;

    &:active,
    &:hover {
      color: darken($white, 15%);
    }
  }
}

a {
  @extend %link;
}

p {
  margin-bottom: 30px;
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

ol,
ul {
  margin-bottom: 15px;
}

blockquote {
  p {
    display: inline;
  }

  &:before {
    content: '\201c';
  }

  &:after {
    content: '\201d';
  }
}
