<div class="box-image-text">
  <div class="container">
    <div class="box-image-text__wrap">
      <h4 class="box-image-text__title">Introductory Consultation</h4>

      <div class="box-image-text__content">
        <p>We begin with an introductory in-home consultation, to immerse ourselves in your world and have an in-depth discussion to uncover and understand your ideas, aspirations and expectations. We’ll personally survey the space/s and discuss timeframes and budgets. From this meeting we’ll provide an itemised proposal and cost estimate for your review and approval.</p>
      </div>

      <div class="box-image-text__list">
        <div class="box-image-text__image">
          <img src="/pattern-lab/source/images/MA-Process_01.jpg" alt="">
          <img src="/pattern-lab/source/images/MA-Process_02.jpg" alt="">
          <img src="/pattern-lab/source/images/MA-Process_03.jpg" alt="">
        </div> 
      </div>
    </div>
  </div>
</div>
