<div class="grid-image">
  <div class="container">
    <div class="grid-image__list">
      <div class="grid-image__item">
        <a href="#">
          <div class="grid-image__image">
            <img src="/pattern-lab/source/images/Designer-Interiors.jpg" alt="">
          </div>

          <div class="grid-image__content">
            <h2 class="grid-image__title text--white">Designer-Interiors</h2>

            <div class="grid-image__link">
              <span href="#" class="btn btn--white btn--small">explore</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
