<div class="grid-image">
  <div class="container">
    <div class="grid-image__list">
      <div class="grid-image__item">
        <a href="#">
          <div class="grid-image__image">
            <img src="/pattern-lab/source/images/Designer-Interiors.jpg" alt="">
          </div>

          <div class="grid-image__content">
            <h2 class="grid-image__title text--white">Designer-Interiors</h2>

            <div class="grid-image__link">
              <span href="#" class="btn btn--white btn--small">explore</span>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-image__item">
        <a href="#">
          <div class="grid-image__image">
            <img src="/pattern-lab/source/images/Designer-Furniture.jpg" alt="">
          </div>

          <div class="grid-image__content">
            <h2 class="grid-image__title text--white">Designer-Furniture</h2>

             <div class="grid-image__link">
              <span href="#" class="btn btn--white btn--small">explore</span>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-image__item">
        <a href="">
          <div class="grid-image__image">
            <img src="/pattern-lab/source/images/Artistry.jpg" alt="">
          </div>

          <div class="grid-image__content">
            <h2 class="grid-image__title text--white">Artistry</h2>

            <div class="grid-image__link">
              <span href="#" class="btn btn--white btn--small">explore</span>
            </div>
          </div>
        </a>
      </div>

      <div class="grid-image__item">
        <div class="grid-image__image">
          <img src="/pattern-lab/source/images/Wall.jpg" alt="">
        </div>

        <div class="grid-image__content">
          <h2 class="grid-image__title text--white">Wall</h2>

          <div class="grid-image__link">
            <span href="#" class="btn btn--white btn--small">explore</span>
          </div>
        </div>
      </div>

      <div class="grid-image__item">
        <div class="grid-image__image">
          <img src="/pattern-lab/source/images/Floor.jpg" alt="">
        </div>

        <div class="grid-image__content">
          <h2 class="grid-image__title text--white">Floor</h2>

          <div class="grid-image__link">
            <span href="#" class="btn btn--white btn--small">explore</span>
          </div>
        </div>
      </div>

      <div class="grid-image__item">
        <div class="grid-image__image">
          <img src="/pattern-lab/source/images/Lighting.jpg" alt="">
        </div>

        <div class="grid-image__content">
          <h2 class="grid-image__title text--white">Lighting</h2>

          <div class="grid-image__link">
            <span href="#" class="btn btn--white btn--small">explore</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
