<div class="banner">
  <div class="desk-banner">
    <div class="banner__wrap">
      <div class="banner__list js-slide">
        <div class="banner__item">
          <img src="/pattern-lab/source/images/MA-Home-06.jpg" alt="">

          <div class="banner__description">
            <div class="container">
              <div class="banner__content">
                <q>Interior design is an art, <br /> where every element is carefully curated to reflect and suit the client’s character, lifestyle, architecture and environment to create the perfect masterpiece</q>
              </div>

              <div class="author">
                <img src="/images/markalexander.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/MA-Home-02.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/MA-Home-03.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/MA-Home-04.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/MA-Home-05.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/MA-Home-06.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/MA-Home-07.jpg" alt="">
        </div>
      </div>

      <div class="banner__description">
        <div class="container">
          <div class="banner__content">
            <q>Interior design is an art, <br /> where every element is carefully curated to reflect and suit the client’s character, lifestyle, architecture and environment to create the perfect masterpiece</q>
          </div>

          <div class="author">
            <img src="/images/markalexander.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-banner">
    <div class="banner__wrap">
      <div class="banner__list js-slide">
        <div class="banner__item">
          <img src="/pattern-lab/source/images/01@2x.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/02@2x.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/03@2x.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/04@2x.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/05@2x.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/06@2x.jpg" alt="">
        </div>
        <div class="banner__item">
          <img src="/pattern-lab/source/images/07@2x.jpg" alt="">
        </div>
      </div>

      <div class="banner__description">
        <div class="container">
          <div class="banner__content">
            <q>Interior design is an art, <br /> where every element is carefully curated to reflect and suit the client’s character, lifestyle, architecture and environment to carefullyate the perfect masterpiece</q>
          </div>

          <div class="author">
            <img src="/images/markalexander.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-down js-scroll-down">
    <span><i class="icon-arrow-down">arrow down</i></span>
  </div>
</div>
