<div class="box-quocte">
  <div class="box-quocte__video">
    <video autoplay="autoplay" loop="loop" >
        <source src="https://res.cloudinary.com/sentius/video/upload/v1545367830/video_quote.mp4" type="video/mp4">
    </video>
  </div>
  
  <div class="container">
    <div class="box-quocte__animation">
      <div class="quocte">
        <div class="quocte__content"><p>Artistry is how I think through my eyes to my heart to my hand</p></div>

        <div class="box-quocte__image">
          <img src="/images/mad_logo.svg" alt="">
        </div>
      </div>

      <div class="quocte">
        <div class="quocte__content"><p>Creative and original, imaginative and sophisticated solution for a magical interior result</p></div>

        <div class="quocte__author"><p>Dr Suzanne – Albert Park, Melbourne</p></div>
      </div>

      <div class="quocte">
        <div class="quocte__content"><p>All the pieces are so beautiful and true works of art, the whole space just looks beautiful. Just stunnin</p></div>

        <div class="quocte__author"><p>Glen – Toorak, Melbourne</p></div>
      </div>
    </div>
  </div>
</div>
