<header class="header js-header">
  <div class="header__wrap">
    <div class="container">
      <div class="header__body">
        <div class="header__logo">
          <div class="container">
            <div class="header__logo__wrap">
              <div class="header__image">
                <a class="icon-mad_logo" href="">logo</a>
              </div>
              
              <div class="header__right">
                <ul>
                  <li class="form-header">
                    <form action="">
                      <div class="form-header__submit">
                        <button type="submit" class=" icon-search">submit</button>
                      </div>
                      
                      <div class="form-header__input">
                        <input class="search-input " type="search" name="s" placeholder="search">
                      </div>
                    </form>
                  </li>
                  <li><a href="" class="btn">Book a Consultation</a></li> 
                </ul>

                <span class="menu-bars">
                  <span class="menu-bars__row"></span>
                  <span class="menu-bars__row"></span>
                  <span class="menu-bars__row"></span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="header__menu">
          <div class="container">
            <div class="header__menu__wrap">
              <div class="header__top">
                <ul>
                  <li class="form-header">
                    <form action="">
                      <div class="form-header__submit">
                        <button type="submit" class="icon-search">submit</button>
                      </div>
                      
                      <div class="form-header__input">
                        <input type="search" placeholder="SEARCH">
                      </div>
                    </form>
                  </li>
                  <li class="text"><a href="" class="">Australia  <span>|</span>  International</a></li>
                  <li><a href="" class="btn">Book a Consultation</a></li>
                </ul>
              </div>

              <div class="main-menu">
                <ul>
                  <li><a href="">Artistry</a></li>
                  <li><a href="">Designer Interiors</a></li>
                  <li>
                    <a href="">Designer Furniture <i class="icon-arrow-right"></i></a>
                    
                    <div class="main-menu__wrap">
                      <div class="container">
                        <div class="main-menu__body">
                          <div class="main-menu__top">
                            <div class="main-menu__back js-back">
                              <span><span> &lt; </span> BACK</span>
                            </div>

                            <h3 class="main-menu__title">Designer Furniture</h3>
                          </div>

                          <ul class="sub-menu">
                            <li>
                              <a href="">Sofas <i class="icon-arrow-right"></i></a>
                              
                              <div class="sub-menu__wrap">
                                <div class="container">
                                  <div class="sub-menu__body">
                                    <div class="main-menu__top">
                                      <div class="main-menu__back js-back">
                                        <span><span> &lt; </span> BACK</span>
                                      </div>

                                      <h3 class="main-menu__title">Sofas</h3>
                                    </div>

                                    <ul class="sub-menu">
                                      <li>
                                        <a href="">Designer Sofas <i class="icon-arrow-right"></i></a>

                                        <div class="main-menu__image">
                                          <a href=""><img src="https://picsum.photos/400/200?image=0" alt="placeholder+image"></a>
                                        </div>
                                      </li>
                                      <li>
                                        <a href="">Curved Sofas &amp; Modulars <i class="icon-arrow-right"></i></a>

                                        <div class="main-menu__image">
                                          <a href=""><img src="https://picsum.photos/400/200?image=1" alt="placeholder+image"></a>
                                        </div>
                                      </li>
                                      <li>
                                        <a href="">Chaise Lounge &amp; Daybeds <i class="icon-arrow-right"></i></a>

                                        <div class="main-menu__image">
                                          <a href=""><img src="https://picsum.photos/400/200?image=2" alt="placeholder+image">
                                        </div></a>
                                      </li>
                                    </ul>

                                    <div class="header__top">
                                      <ul>
                                        <li class="form-header">
                                          <form action="">
                                            <div class="form-header__submit">
                                              <button type="submit" class="icon-search">submit</button>
                                            </div>
                                            
                                            <div class="form-header__input">
                                              <input type="search" placeholder="SEARCH">
                                            </div>
                                          </form>
                                        </li>
                                        <li class="text"><a href="" class="">Australia  <span>|</span>  International</a></li>
                                        <li><a href="" class="btn">Book a Consultation</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="main-menu__image">
                                <a href=""><img src="https://picsum.photos/400/200?image=3" alt="placeholder+image"></a>
                              </div>
                            </li>
                            <li>
                              <a href="">Tables <i class="icon-arrow-right"></i></a>

                              <div class="main-menu__image">
                                <a href=""><img src="https://picsum.photos/400/200?image=4" alt="placeholder+image"></a>
                              </div>
                            </li>
                            <li>
                              <a href="">Chairs <i class="icon-arrow-right"></i></a>

                              <div class="main-menu__image">
                                <a href=""><img src="https://picsum.photos/400/200?image=5" alt="placeholder+image"></a>
                              </div>
                            </li>
                            <li><a href="">Wallunits <i class="icon-arrow-right"></i></a></li>
                            <li><a href="">Sideboards &amp; Cabinets <i class="icon-arrow-right"></i></a></li>
                            <li><a href="">Entrance <i class="icon-arrow-right"></i></a></li>
                            <li><a href="">Bedroom <i class="icon-arrow-right"></i></a></li>
                            <li><a href="">Office &amp; Library <i class="icon-arrow-right"></i></a></li>
                          </ul>

                          <div class="header__top">
                            <ul>
                              <li class="form-header">
                                <form action="">
                                  <div class="form-header__submit">
                                    <button type="submit" class="icon-search">submit</button>
                                  </div>
                                  
                                  <div class="form-header__input">
                                    <input type="search" placeholder="SEARCH">
                                  </div>
                                </form>
                              </li>
                              <li class="text"><a href="" class="">Australia  <span>|</span>  International</a></li>
                              <li><a href="" class="btn">Book a Consultation</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li><a href="">Lighting</a></li>
                  <li><a href="">Wall</a></li>
                  <li><a href="">Floor</a></li>
                  <li><a href="">clients</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header__fixed">header fixed</div>
</header>

<div class="div" style="height: 2000px;background: red;">111111111111</div>
