.home {
  .header__fixed {
    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.page-title {
  text-align: center;
  background-color: $light-gray;
  margin: 0;
  padding: 25px 20px;

  @media only screen and (min-width: $tablet) {
    padding: 25px 20px 30px;
  }

  @media only screen and (min-width: $desktop) {
    padding: 59px 20px 67px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    padding: 84px 20px 92px;
    margin-top: 59px;
  }
}

div.wpcf7 .ajax-loader {
  display: none;
}

span.wpcf7-not-valid-tip {
  margin: 15px 0;
}
