.home {
  .header__fixed {
    display: none;
  }
}

.page-title {
  text-align: center;
  background-color: $light-gray;
  margin: 0;
  padding: 61.5px 0 69.5px;

  @media only screen and (min-width: $desktopSupperWideLarge) {
    padding: 87px 0 98px;
  }
}
