.home {
  .header__fixed {
    @media only screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.page-title {
  text-align: center;
  background-color: $light-gray;
  margin: 0;
  padding: 27px 0 26px;

  @media only screen and (min-width: $tablet) {
    padding: 28.5px 0 25.5px;
  }

  @media only screen and (min-width: $desktop) {
    padding: 63px 0 70px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    padding: 87px 0 98px;
    margin-top: 62px;
  }
}

div.wpcf7 .ajax-loader {
  display: none;
}
