.banner {
  position: relative;
  
  &__description {
    @include miller-display;
    font-weight: 400;
    line-height: 1.2;
    font-size: 16px;
    padding: 10px 0 10px 1.5px;

    @media only screen and (min-width: $tablet) {
      font-size: 20px;
      padding: 20px 0 10px;
      pointer-events: none;
    }

    @media only screen and (min-width: $desktopWide) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      color: $white;
      font-size: 28px;
    }

    .author {
      img {
        width: 127px;
      }
    }
  }

  &__content {
    @media only screen and (min-width: $tablet) {
      padding: 1px 10px;
      margin-bottom: 11px;
    }

    @media only screen and (min-width: $desktopWide) {
      float: right;
      max-width: 400px;
      text-align: center;
    }

    br {
      @media only screen and (max-width: $tabletOnly) {
        display: none;
      }
    }

    p {
      @media only screen and (max-width: $tabletOnly) {
        margin-bottom: 0
      }
    }
  }

  .slick-next,
  .slick-prev {
    color: $white;
  }

  &__item {
    position: relative;

    @media only screen and (min-width: $desktopWideLarge) {
      height: 100vh;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: auto;

      @media only screen and (min-width: $desktopWide) {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        width: 100%;
        height: auto;
        max-height: inherit;
        max-width: inherit;
      }
    }

    .banner__description {
      @media only screen and (max-width: $desktopwideOnly) {
        display: none;
      }

      .author {
        @media only screen and (min-width: $desktopWide) {
          display: none;
        }

        @media only screen and (max-width: $tabletOnly) {
          margin-top: 0;
          padding: 0 10px;
        }

        img {
          @media only screen and (max-width: $tabletOnly) {
            width: 18%;
          }
        }
      }
    }
  }

  &__wrap {
    > .banner__description {
      @media only screen and (min-width: $desktopWide) {
        display: none;
      }
    }
  }
}

.author {
  line-height: 0;
  margin-top: 10px;

  @media only screen and (min-width: $tablet) {
    margin-top: 20px;
  }
}
