.box-contact {
  padding: 30px 0;

  .container {
    @media only screen and (min-width: $desktopWideLarge) {
      max-width: 1306px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      min-width: 1836px;
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    > div {
      width: 100%;

      @media only screen and (min-width: $tablet) {
        width: calc((100% - 51px) / 2);
      }

      @media only screen and (min-width: $desktop) {
        width: calc((100% - 101px) / 3);
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        width: calc((100% - 141px) / 3);
      }
    }
  }

  &__left {
    margin-bottom: 30px;

    @media only screen and (min-width: $tablet) {
      margin-bottom: 0;
      margin-right: 50px;
    }

    @media only screen and (min-width: $desktop) {
      margin-right: 50px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-top: 13px;
      margin-right: 70px;
    }

    .box-contact__title {
      &:last-of-type {
        @media only screen and (min-width: $desktopSupperWideLarge) {
          margin-bottom: 35px;
        }
      }
    }
  }
  
  &__right {
    line-height: 0;
    display: none;

    @media only screen and (min-width: $desktop) {
      display: block;
      margin: -10px 0 0;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__list {
    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-top: -15px;
    }
  }
 
  &__title {
    @media only screen and (min-width: $tablet) {
     font-size: 21px;
     margin-bottom: 23px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      font-size: 29px;
    }
  }

  &__content {
    margin-bottom: 26px;

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-bottom: 49px;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__center {
    background: $light-gray;
    text-align: center;
    padding: 32px 40px 20px;

    @media only screen and (min-width: $desktop) {
      margin-top: -10px;
      margin-right: 50px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      padding: 48px 69px 31px;
      margin-right: 70px;
    }
  }

  &__item {
    border-bottom: 1px solid $gray;
    margin-bottom: 32px;
    padding-bottom: 29px;

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-bottom: 44px;
      padding-bottom: 41px;
    }

    &:last-of-type {
      border: none;
      padding: 0;
      margin-bottom: 20px;

      @media only screen and (min-width: $desktopSupperWideLarge) {
        margin-bottom: 40px;
      }
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .form-list {
    textarea {
      @media only screen and (min-width: $desktopSupperWideLarge) {
        min-height: 151px;
      }
    }

    input,
    textarea {
      @extend %form-text--full;
    }

    [type="submit"] {
      @extend .btn;
      width: auto;
    }

    input[type="checkbox"] {
      display: none;
    }

    &:first-of-type {
      margin-bottom: 30px;

      @media only screen and (min-width: $desktop) {
        margin-bottom: 16px;
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        margin-bottom: 20px;
      }
    }

    .form-item {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .form-type-checkbox {
      margin-bottom: 22px;

      @media only screen and (min-width: $desktop) {
        margin-bottom: 31px;
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        margin-bottom: 36px;
      }
    }
  }

  .form-actions {
    margin-bottom: 0;
  }
}
