.box-social {
  padding: 7px 0;

  &__title {
    margin-bottom: 44px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 60%;
    position: relative;
    margin-bottom: 20px;

    @media only screen and (min-width: $mobileLandScape) {
      width: 50%;
      padding: 0 14px;
      margin-bottom: 0;
    }

    @media only screen and (min-width: $tablet) {
      width: 25.5%;
    }
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__icon {
    position: absolute;
    top: 18px;
    left: 40px;

    .icon-facebook,
    .icon-instagram {
      font-size: 25px;
    }

    a {
      color: $white;
    }
  }
}
