.box-video {
  &__video {
    line-height: 0;
    overflow: hidden;
    height: auto;
    position: relative;
    margin-top: 30px;

    @media only screen and (min-width: $tablet) {
      margin-top: 0;
    }

    &.paused {
      .box-video__icon {
        display: block;
      }
    }

    video {
      width: 100%;
      height: auto;
    }
  }

  > .container {
    @media only screen and (min-width: $tablet) {
      max-width: 100%;
      margin: 0;
      order: 2;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    line-height: 0;
    width: 50px;
    height: auto;

    @media only screen and (min-width: $tablet) {
      width: 115px;
    }
  }

  &__wrap {
    @media only screen and (max-width: $mobileOnly) {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
    }

    .box-html {
      @media only screen and (min-width: $tablet) and (max-width: $desktopLargeOnly) {
        padding: 16px 0;
      }

      @media only screen and (max-width: $mobileOnly) {
        order: 2;
        border-bottom: 1px solid rgba(121, 121, 121, 0.25)
      }
    }

    > .container {
      @media only screen and (max-width: $mobileOnly) {
        order: 2;
      }
    }
  }

  &__body {
    @media only screen and (min-width: $tablet) {
      padding: 24px 0;
    }

    @media only screen and (min-width: $desktopLarge) {
      padding: 45px 0;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      padding: 66px 0;
    }

    p:last-of-type {
      margin: 0;
    }
  }
}
