.box-image-video {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__content {
    padding: 20px 0;

    @media  only screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      max-height: 411px;
      width: 31.26%;
      padding: 20px;
      z-index: 1;
      overflow-y: auto;
      background: $white;
    }

    @media  only screen and (min-width: 1024px) {
      max-height: 500px;
    }

    @media  only screen and (min-width: 1280px) {
      max-height: 665px;
      width: 431px;
    }

    .container {
      @media  only screen and (min-width: 768px) {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__list {
    display: flex;

    &:nth-child(2) {
      $width: 40.40%;

      @media  only screen and (min-width: 768px) {
        width: calc(100% - 1px - 31.26%);
        margin-left: 31.26%;
      }

      @media  only screen and (min-width: 1280px) {
        width: calc(100% - 1px - 431px);
        margin-left: 431px;
      }

      .box-image-video__item:first-child {
        width: $width;
      }

      .box-image-video__item:last-child {
        width: calc(100% - 1px - #{$width});
      }
    }

    &:nth-child(3) {
      $width: 65.10%;
      width: 100%;

      .box-image-video__item:first-child {
        width: $width;
      }

      .box-image-video__item:last-child {
        width: calc(100% - 1px - #{$width});
      }
    }
  }

  &__item {
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }
  
  &__description {
  }
}
