.box-gallery {
  padding: 30px 0;

  @media only screen and (min-width: $desktopLarge) {
    padding: 39px 0;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    padding: 54px 0;
  }

  .container {
    @media only screen and (min-width: $desktopLarge) {
      width: 100%;
      max-width: inherit;
      margin: 0;
    }
  }
  &__title {
    line-height: 1.2;
    margin-bottom: 23px;

    @media only screen and (max-width: $desktopLargeOnly) {
      display: none;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-bottom: 33px;
    }
  }

  &__item {
    position: relative;
    cursor: pointer;
    height: 100%;

    &.height-large {
      .box-gallery__image {
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }

  &__image {
    line-height: 0;
    text-align: center;
    height: 100%;
    overflow: hidden;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__wrap {
    @media only screen and (min-width: $desktopLarge) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__left {
    margin-bottom: 24px;
    position: relative;

    @media only screen and (min-width: $desktopLarge) {
      width: 65.23%;
      margin-bottom: 0;
    }

    i {
      font-size: 0;
      position: absolute;
      bottom: 9px;
      right: 9px;
      cursor: pointer;

      @media only screen and (min-width: $tablet) {
        bottom: 20px;
        right: 20px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        bottom: 28px;
        right: 28px;
      }

      &:before {
        font-size: 17px;
        color: $white;

        @media only screen and (min-width: $tablet) {
          font-size: 34px;
        }
      }
    }
  }

  &__right {
    width: 100%;

    @media only screen and (min-width: $desktopLarge) {
      padding-right: $containerMarginDesktop2;
      padding-left: 30px;
      width: calc(100% - 65.23%);
    }

    @media only screen and (min-width: $desktopWideLarge) {
      padding-right: calc((100% - #{$containerdesktopWideLarge2}) / 2);
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      padding-right: $containerMarginDesktopSupperLarge2;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      padding-right: calc((100% - #{$containerdesktopSupperWideLarge2}) / 2);
      padding-left: 40px;
    }

    > a {
      @media only screen and (max-width: $desktopLargeOnly) {
        display: none;
      }
    }

    .back-to {
      margin: 10px 0 30px;
      display: inline-block;

      @media only screen and (min-width: $desktopSupperLarge) {
        margin: 16px 0 42px;
      }

      @media only screen and (max-width: $desktopLargeOnly) {
        display: none;
      }
    }
  }

  &__slider {
  }

  &__link {
    margin-top: 24px;

    @media only screen and (min-width: $desktopLarge) {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .btn--icon {
      &:before {
        font-size: 20px;
        margin-right: 10px;
        line-height: 10px;
        position: relative;
        bottom: 2px;

        @media only screen and (min-width: $desktopSupperLarge) {
          bottom: 3px;
        }
      }
    }

    .btn {
      margin-right: 0;
      margin-top: 20px; 

      @media only screen and (max-width: $mobileOnly) {
        width: 100%;
      }

      @media only screen and (min-width: $tablet) and (max-width: $desktopLargeOnly) {
        max-width: 335px;
        display: block;
      }

      @media only screen and (min-width: $desktopLarge) {
        margin: 24px 19px 0 0;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin: 42px 27px 0 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__content {
    p:last-of-type {
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  &__lightbox-form {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba($primary-color, .9);
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .container {
      @media only screen and (max-width: $mobileOnly) {
        position: relative;
        height: 100%;
      }
    }
  }

  .paginginfo {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: $white;
    font-size: 14px;

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 19px;
      bottom: 22px;
    }

    span {
      opacity: .5;
    }
  }

  &--image-right {
    padding-top: 0;

    @media only screen and (min-width: $desktopLarge) {
      padding-bottom: 50px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      padding-bottom: 69px;
    }

    .box-gallery__left {
      order: 2;

      @media only screen and (min-width: $desktopLarge) {
        width: 75.7%;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        width: 75.625%;
      }
    }

    .box-gallery__right {
      @media only screen and (min-width: $desktopLarge) {
        padding-left: $containerMarginDesktop2;
        padding-right: 30px;
        width: calc(100% - 75.7%);
      }

      @media only screen and (min-width: $desktopWideLarge) {
        padding-left: calc((100% - #{$containerdesktopWideLarge2}) / 2);
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        padding-left: $containerMarginDesktopSupperLarge2;
        width: calc(100% - 75.625%);
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        padding-left: calc((100% - #{$containerdesktopSupperWideLarge2}) / 2);
        padding-right: 51px;
      }
    }

    .box-gallery__link {
      .btn {
        @media only screen and (min-width: $desktopLarge) {
          &:nth-of-type(2) {
            margin-top: 15px;
          }
        }

        @media only screen and (min-width: $desktopSupperLarge) {
          &:nth-of-type(2) {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
