.box-image-text {
  &__item {
    padding: 46px 0 48px;
    border-top: 1px solid $gray;

    &:last-of-type {
      border-bottom: 1px solid $gray;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      padding: 70px 0 68px;
    }
  }

  &__list {
    display: flex;
    overflow-x: auto;
    margin: 0 -2.5px;

    @media only screen and (min-width: $desktopWideLarge) {
      margin: 0 -86px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin: 0 -123px;
    }
  }

  &__title {
    @media only screen and (min-width: $tablet) {
      margin-bottom: 23px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-bottom: 31px;
    }
  }

  &__content {
    margin-bottom: 44px;

    @media only screen and (min-width: $desktopSupperWideLarge) {
      margin-bottom: 70px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__image {
    line-height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 -2.5px;

    @media only screen and (min-width: $desktopWideLarge) {
      margin: 0 -6px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
        margin: 0 -8px;
      }

    img {
      width: 100%;
      height: auto;
      padding: 0 2.5px;

      @media only screen and (min-width: $tablet) {
        width: 50%;
      }

      @media only screen and (min-width: $desktopWideLarge) {
        padding: 0 6px;
        width: calc((100% - 1px) / 3);
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        padding: 0 8px;
      }
    }
  }
}
