.box-quocte-default {
  text-align: center;

  blockquote {
    @include miller-display;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 19px;

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 40px;
      margin-bottom: 27px;
    }

    p:last-of-type {
      margin: 0;
    }
  }

  &__content {
    @media only screen and (max-width: $mobileOnly) {
      padding: 0 1px;
    }
  }

  &__body {
    margin: auto;
    padding: 45px 0 44px;
    border-bottom: 1px solid rgba($gray, .25);

    @media only screen and (min-width: $tablet) {
      padding: 39px 33px;
    }

    @media only screen and (min-width: $desktopLarge) {
      padding: 53px 0;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      padding: 75px 0;
    }
  }

  &__author {
    text-transform: uppercase;

    p:last-of-type {
      margin: 0;
    }
  }

  &--no-mark {
    background-color: $light-gray;

    .box-quocte-default__body {
      padding: 35px 0;
      margin-bottom: 30px;

      @media only screen and (min-width: $tablet) {
        padding: 49px 0;
        margin-bottom: 40px;
        border-bottom: 0;
      }

      @media only screen and (min-width: $desktopLarge) {
        padding: 65.5px 0;
        margin-bottom: 49px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        padding: 92.5px 0;
        margin-bottom: 68px;
      }
    }

    blockquote {
      @media only screen and (max-width: $mobileOnly) {
        font-size: 21px;
        line-height: 1.2;
        margin-bottom: 21px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-bottom: 25px;
      }

      p:last-of-type:before,
      p:first-of-type:after {
        display: none;
      }

      br {
        @media only screen and (max-width: $desktopwideOnly) {
          display: none;
        }
      }
    }
  }
}