.box-contact {
  margin-bottom: 30px;

  @media only screen and (min-width: $tablet) {
    padding: 32px 0 30px;
    margin: 0;
  }

  @media only screen and (min-width: $desktop) {
    padding: 50px 0 45px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    padding: 54px 0 72px;
  }

  .container {
    @media only screen and (min-width: $desktop) and (max-width: $desktopOnly) {
      max-width: 100%;
      margin-left: $containerMarginDesktop2;
      margin-right: $containerMarginDesktop2;
    }

    @media only screen and (min-width: $desktopWideLarge) {
      max-width: $containerdesktopWideLarge2;
    }

    @media only screen and (min-width: $desktopSupperLarge) and (max-width: $desktopSupperWideLargeOnly) {
      max-width: 100%;
      margin-left: $containerMarginDesktopSupperLarge2;
      margin-right: $containerMarginDesktopSupperLarge2;        
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      max-width: $containerdesktopSupperWideLarge2;
    }
  }

  > .container {
    @media only screen and (max-width: $mobileOnly) {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    > div {
      width: 100%;

      @media only screen and (min-width: $tablet) {
        width: calc( 100% / 2 );
      }

      @media only screen and (min-width: $desktop) {
        &.box-contact__center {
          width: 30.63%;
        }

        &.box-contact__right {
          width: 34.69%;
        }

        &.box-contact__left {
          width: calc(100% - 30.63% - 34.69% );
        }
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        &.box-contact__center {
          width: 30.63%;
        }

        &.box-contact__right {
          width: 34.69%;
        }

        &.box-contact__left {
          width: calc(100% - 30.63% - 34.69% );
        }
      }
    }
  }

  &__left {
    padding: 27px 0 30px;

    .container {
      @media only screen and (min-width: $tablet) {
        max-width: 100%;
        margin: 0;
      }
    }

    @media only screen and (min-width: $tablet) {
      margin: 0 0 0 -1px;
      padding: 0 16px 0 0;
    }

    @media only screen and (min-width: $desktop) {
      padding-right: 53px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-top: 15px;
      padding-right: 73px;
    }

    .box-contact__title {
      &:first-of-type {
        @media only screen and (min-width: $desktopSupperLarge) {
          margin-bottom: 31px;
        }
      }

      &:last-of-type {
        @media only screen and (min-width: $desktopSupperLarge) {
          margin-bottom: 35px;
        }
      }
    }

    .box-contact__item {
      margin-bottom: 19px;

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-bottom: 30px;
      }
    }
  }
  
  &__right {
    line-height: 0;
    display: none;

    @media only screen and (min-width: $desktop) {
      display: block;
      margin: -10px 0 0;
      padding-left: 53px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin: 0;
      padding-left: 74px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__list {
    @media only screen and (min-width: $desktopWideLarge) {
      margin-top: -8px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-top: -15px;
    }
  }
 
  &__title {
    margin-bottom: 22px;

    @media only screen and (min-width: $tablet) {
     margin-bottom: 21px;
    }

    @media only screen and (min-width: $desktop) {
      margin-bottom: 23px;
      font-size: 21px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 29px;
      margin-bottom: 34px;
    }
  }

  &__subtitle {
    @extend .text--normal;
    margin-bottom: -1px;
  }

  &__content {
    margin-bottom: 23px;

    @media only screen and (min-width: $tablet) {
      margin-bottom: 22px;
    }

    @media only screen and (min-width: $desktop) {
      margin-bottom: 30px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-bottom: 46px;
    }

    p {
      margin-bottom: 21px;

      @media only screen and (min-width: $tablet) {
        margin-bottom: 20px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-bottom: 30px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      span {
        margin: 0 8px;

        @media only screen and (min-width: $desktopSupperLarge) {
          margin: 0 10px;
        }
      }
    }

    strong {
      @media only screen and (min-width: $tablet) {
        font-weight: 300;
      }
    }
  }

  &__center {
    text-align: center;
    background-color: $light-gray;
    padding: 35px 38px 3px;

    .container {
      @media only screen and (min-width: $tablet) {
        max-width: 100%;
        margin: 0;
      }
    }
    
    @media only screen and (min-width: $tablet) {
      padding: 0 15px 25px;
      background-color: $white;
    }

    @media only screen and (min-width: $desktop) {
      margin-top: -10px;
      padding: 33px 40px 4px;
      background: $light-gray;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      padding: 46px 69px 16px;
      margin-top: 0;
    }

    .box-contact__title {
      @media only screen and (min-width: $tablet) {
        margin-left: 47px;
      }

      @media only screen and (min-width: $desktop) {
        margin-left: 0px;
      }
    }

    .box-contact__content {
      margin-bottom: 20px;

      @media only screen and (min-width: $tablet) {
        margin-left: 47px;
      }

      @media only screen and (min-width: $desktop) {
        margin-left: 0px;
        margin-bottom: 27px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-left: 0;
        margin-bottom: 45px;
      }
    }

    .box-contact__item {
      margin: 0 auto 31px auto;
      max-width: 223px;

      @media only screen and (min-width: $tablet) {
        margin: 0 auto 29px auto;
        padding-bottom: 31px;
      }

      @media only screen and (min-width: $desktop) {
        margin: 0 auto 29px auto;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        padding-bottom: 42px;
        margin: 0 auto 46px auto;
        max-width: 315px;
      }
    }
  }

  &__item {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 30px;
    padding-bottom: 29px;

    @media only screen and (min-width: $tablet) {
      // margin-left: 38px;
    }
    
    @media only screen and (min-width: $desktop) {
      // margin-left: 10px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-bottom: 44px;
      padding-bottom: 11px;
    }

    &:last-of-type {
      border: none;
      padding: 0;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
