.box-html {
  padding: 15px 0 46px;

  @media only screen and (min-width: $tablet) {
    padding: 24px 0;
  }

  @media only screen and (min-width: $desktop) {
    padding: 45px 0;
  }

  @media only screen and (min-width: $desktopSupperWideLarge) {
    padding: 65px 0 71px;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__quocte {
    text-align: center;

    @media only screen and (min-width: $tablet) {
      margin-top: -6px;
      padding: 32px 0 38px;
    }

    @media only screen and (min-width: $desktop) {
      margin-top: 0;
      padding: 51px 0 64px;
      border-bottom: 1px solid $gray;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      padding: 48px 0 64px;
    }

    blockquote {
      @include miller-display;
      font-size: 28px;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 19px;

      @media only screen and (min-width: $desktopSupperLarge) {
        font-size: 40px;
        margin-bottom: 27px;
      }
    }
  }
}
