.box-quocte {
  position: relative;
  overflow: hidden;
  height: 203px;

  @media only screen and (min-width: $tablet) {
    height: 420px;
  }
  
  @media only screen and (min-width: $desktopLarge) {
    height: 755px;
  }
  
  @media only screen and (min-width: $desktopSupperLarge) {
    height: 1062px;
  }

  &__video {
    pointer-events: none;
    height: 100%;

    video {
      width: 120%;
      height: auto;
      display: block;

      @media only screen and (min-width: $desktopLarge) and (max-width: 943.5px) {
        height: 100%;
        width: auto;
      }
    }
  }

  &__link {
    font-size: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__image {
    line-height: 0;
    margin-top: 20px;

    @media only screen and (min-width: $tablet) {
      margin-top: 40px;
    }

    @media only screen and (min-width: $desktopLarge) {
      margin-top: 52px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-top: 74px;
    }

    img {
      width: 189px;
      height: auto;

      @media only screen and (min-width: $tablet) {
        width: 267px;
      }

      @media only screen and (min-width: $desktopLarge) {
        width: 314px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        width: 411px;
      }
    }
  }

  .quocte {
    max-width: inherit;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__author {
      text-align: right;
      margin-top: 20px;

      @media only screen and (min-width: $tablet) {
        font-size: 20px;
      }

      @media only screen and (min-width: $desktopLarge) {
        font-size: 30px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        font-size: 40px;
      }
    }

    @media only screen and (min-width: $tablet) {
      max-width: 700px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      max-width: 1000px;
    }
  }

  &__animation {
    @for $i from 2 through 6 {
      &.slide-#{$i} {
        @include animation_slide($i, 3s, 2s);
      }
    }
  }
}

.quocte {
  @extend .text--center;
  padding: 0 30px;

  &__content {
    @include miller-display;
    font-size: 20px;
    line-height: 1.2;

    @media only screen and (min-width: $tablet) {
      font-size: 37px;
    }

    @media only screen and (min-width: $desktopLarge) {
      font-size: 46px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 65px;
    }

    p:first-child:before {
      content: "“";
    }

    p:last-child:after {
      content: "”";
    }

    p:last-child {
      margin: 0;
    }
  }
}
