.box-text {
  padding: 29px 0;

  @media only screen and (min-width: $tablet) {
    padding: 24px 0 29px;
  }

  @media only screen and (min-width: $desktopLarge) {
    padding: 45px 0;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    padding: 65px 0;
  }

  &__title {
    margin-bottom: 21px;
    font-size: 21px;

    @media only screen and (min-width: $tablet) {
      margin-bottom: 19px;
      font-size: 21px;
    }

    @media only screen and (min-width: $desktopLarge) {
      margin-bottom: 20px;
      font-size: 21px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-bottom: 31px;
      font-size: 29px;
    }
  }

  &__content {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;

    @media only screen and (min-width: $tablet) {
      margin-right: 17px;
      margin-bottom: 0;
      margin-top: 25px;
      width: auto;
    }

    @media only screen and (min-width: $desktopLarge) {
      margin-top: 38px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-right: 30px;
      margin-top: 45px;
    }

    .btn {
      @media only screen and (min-width: $tablet) {
        margin-right: 20px;
      }
      
      @media only screen and (min-width: $desktopLarge) {
        margin-right: 19px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-right: 27px;
      }
      
      @media only screen and (max-width: $mobileOnly) {
        margin-bottom: 20px;
        width: 100%;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-last-of-type(2) {
        margin-bottom: 0;
      }
    }
  }

  &__body {
  }
}
