.box-quocte {
  position: relative;

  &__video {
    video {
      height: 500px;
      width: 100%;
    }
  }

  &__image {
    line-height: 0;

    img {
      width: 314px;

      @media only screen and (max-width: 767px) {
        max-width: 250px;
      }
    }
  }

  .quocte {
    @include animation_slide(3, 3s, 2s);
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__author {
      text-align: right;
    }
  }
}

.quocte {
  @extend .text--center;

  &__content {
    p:first-child:before {
      content: "“";
    }

    p:last-child:after {
      content: "”";
    }

    p:last-child {
      margin: 0;
    }
  }
}
