.box-social {
  padding: 20px 0;

  @media only screen and (min-width: $tablet) {
    padding: 35px 0;
  }

  @media only screen and (min-width: $desktopLarge) {
    padding: 45px 0 50px;
  }

  @media only screen and (min-width: $desktopSupperLarge) {
    padding: 65px 0 67px;
  }

  &__title {
    margin-bottom: 20px;

    @media only screen and (min-width: $tablet) {
      margin-bottom: 35px;
    }

    @media only screen and (min-width: $desktopLarge) {
      margin-bottom: 44px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-bottom: 62px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $tablet) {
      margin: 0 -15px;
    }
  }

  &__item {
    width: 50%;
    padding: 0 5px;
    position: relative;

    @media only screen and (min-width: $tablet) {
      width: 35%;
      padding: 0 15px;
    }

    @media only screen and (min-width: $desktopLarge) {
      width: 28.45%;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      width: 28%;
      margin-right: 10px;
    }

    a {
      position: relative;
      display: block;
    }
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__icon {
    position: absolute;
    top: 15px;
    left: 15px;

    @media only screen and (min-width: $tablet) {
      top: 20px;
      left: 20px;
    }

    @media only screen and (min-width: $desktopLarge) {
      top: 23px;
      left: 26px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      top: 28px;
      left: 35px;
    }

    .icon-facebook,
    .icon-instagram {
      &:before {
        font-size: 26px;

        @media only screen and (min-width: $desktopSupperLarge) {
          font-size: 40px;
        }
      }
    }

    span {
      color: $white;

      &:after {

      }
    }
  }
}
