.box-video {
  &__video {
    line-height: 0;
    overflow: hidden;
    height: auto;
    position: relative;

    &.paused {
      .box-video__icon {
        display: block;
      }
    }

    video {
      width: 100%;
      height: auto;
    }
  }

  > .container {
    @media only screen and (min-width: $tablet) {
      max-width: 100%;
      margin: 0;
      order: 2;
    }
  }

  @media only screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    i {
      font-size: 0;

      &:before {
        color: $white;
        font-size: 130px;

        @media only screen and (min-width: $tablet) {
          font-size: 250px;
        }
      }
    }
  }

  &__wrap {
    @media only screen and (max-width: $mobileOnly) {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
    }

    .box-html {
      @media only screen and (max-width: $mobileOnly) {
        order: 2;
      }
    }
  }

  &__body {
    @media only screen and (min-width: $tablet) {
      padding: 24px 0;
    }

    @media only screen and (min-width: $desktop) {
      padding: 45px 0;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      padding: 66px 0;
    }

    p:last-of-type {
      margin: 0;
    }
  }
}
