.grid-gallery {

  &__wrap {
    position: relative;
  }

  &__image {
    line-height: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba($black, .1);
      position: absolute;
    }

    &:before {
      top: 100%;
      left: 100%;
      transition: all .3s ease-out 0s;
    }

    &:after {
      bottom: 100%;
      right: 100%;
      transition: all .3s ease-out 0s;
    }

    &:hover {
      &:before {
        top: 0;
        left: 0;
      }

      &:after {
        bottom: 0;
        right: 0;
      }
    }
  
    img {
      width: 101%;
      height: auto;
      max-width: inherit;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    line-height: 0;

    @media only screen and (min-width: $tablet) {
      margin-top: 10px;
    }

    @media only screen and (min-width: $desktop) {
      margin-top: 23px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      margin-top: 32px;
    }

    img {
      width: 100%;
      height: auto;
    }

    &.logo-1 {
      text-align: right;

      @media only screen and (min-width: $desktop) {
        margin-top: 24px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-top: 34px;
      }

      img {
        @media only screen and (min-width: $desktop) {
          width: 213px;
        }

        @media only screen and (min-width: $desktopSupperLarge) {
          width: 298px;
        }
      }
    }

    &.logo-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 11.5px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__position {
    position: absolute;
  }

  &__top {
    $width: 25.0366%;
    display: flex;
    flex-wrap: wrap;
    margin-left: $width;
    width: calc(100% - $width);

    .grid-gallery__position {
      top: 0;
      left: 0;
      width: $width;
    }
    
    > .grid-gallery__item {
      &:nth-child(2n) {
        width: 57.8125%;
      }

      &:nth-child(2n+1) {
        width: calc(100% - 57.8125%);
      }
    }
  }

  &__bottom {
    $width: 32.57687%;
    display: flex;
    flex-wrap: wrap;
    margin-left: $width;
    width: calc(100% - $width);

    .grid-gallery__position {
      bottom: 0;
      left: 0;
      width: $width;
    }

    > .grid-gallery__item {
      &:nth-child(5n+2) {
        width: calc(100% - 60.6948968%);
      }
      &:nth-child(5n+3) {
        width: 60.6948968%;
      }
      &:nth-child(5n+4) {
        width: 48.4256243%;
      }
      &:nth-child(5n+5) {
        width: calc(100% - 48.4256243%);
      }
    }
  }
  
  &__animation {
    position: relative;

    &.slide-2 {
      @include animation_slide(2, 2s);

      &.delay-2 {
        @include animation_slide(2, 2s, .5s, 2s);
      }

      &.delay-4 {
        @include animation_slide(2, 2s, .5s, 4s);
      }

      &.delay-6 {
        @include animation_slide(2, 2s, .5s, 6s);
      }
    }

    &.slide-3 {
      @include animation_slide(3, 2s);

      &.delay-2 {
        @include animation_slide(3, 2s, .5s, 2s);
      }

      &.delay-4 {
        @include animation_slide(3, 2s, .5s, 4s);
      }

      &.delay-6 {
        @include animation_slide(3, 2s, .5s, 6s);
      }
    }

    &.slide-4 {
      @include animation_slide(4, 2s);

      &.delay-2 {
        @include animation_slide(4, 2s, .5s, 2s);
      }

      &.delay-4 {
        @include animation_slide(4, 2s, .5s, 4s);
      }

      &.delay-6 {
        @include animation_slide(4, 2s, .5s, 6s);
      }
    }
    
    .grid-gallery__image:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
    }

    .grid-gallery__image:first-child {
      position: static !important;;
    }

    .grid-gallery__image:before,
    .grid-gallery__image:after {
      display: none;
    }
  }

  &__content {
    padding: 18px 0 24px;

    @media only screen and (min-width: $tablet) {
      padding: 25px 0 23px;
    }

    @media only screen and (min-width: $desktop) {
      padding: 58px 35px;
      height: 33.9vw;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      padding: 81px 51px;
    }

    p:last-of-type {
      margin: 0;
    }
  }

  &__body {
    @media only screen and (min-width: $desktop) {
      height: 100%;
      overflow-y: auto;
    }
  }

  &__item {
    position: relative;
  }

  &__quote {
    @include georgia;
    font-style: italic;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 32px;
    

    @media only screen and (min-width: $tablet) {
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0 33.76px;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      padding: 0 60px;
      font-size: 26px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 36px;
      line-height: 1.222222;
      padding: 0 94.5px;
    }

    p:last-of-type {
      margin: 0;
    }
  }

  &__title {
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @media only screen and (min-width: $mobileLandScape) {
      font-size: 21px;
    }
    
    @media only screen and (min-width: $tablet) {
      font-size: 28px;
    }

    @media only screen and (min-width: $desktop) {
      position: static;
      transform: none;
      margin-bottom: 11px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 39px;
      margin-bottom: 21px;
    }
  }

  &__subtitle {
    margin-bottom: 12px;
    font-style: normal;
    @include muli;
    font-size: 17px;
    line-height: 1.529;

    @media only screen and (min-width: $desktop) {
      margin-bottom: 10px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 24px;
      line-height: 1.083333;
    }
  }

  &__description {
    @include georgia;
    font-style: italic;
    font-size: 17px;
    line-height: 1.5294;
    display: none;

    @media only screen and (min-width: $desktop) {
      display: block;
      padding-left: 15px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      font-size: 24px;
      line-height: 1.5;
      font-style: normal;
      font-weight: 400;
      padding-left: 21px;
    }

    p {
      font-style: italic;
    }
  }

  &__link {
    @media only screen and (max-width: $mobileOnly) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      &.disable {
        pointer-events: none;
      }

      @media only screen and (max-width: $mobileOnly) {
        width: calc((100% - 22px) / 2);
        margin-right: 21px;

        &:last-of-type {
          margin: 0;
        }
      }

      @media only screen and (min-width: $tablet) {
        margin-right: 30px;
      }

      @media only screen and (min-width: $desktop) {
        margin-top: 50px;
      }

      @media only screen and (min-width: $desktopSupperLarge) {
        margin-top: 49px;
        margin-right: 42px;
      }
    }
  }

  &--mobile {
    @media only screen and (min-width: $desktop) {
      display: none;
    }

    .grid-gallery__description {
      display: block;
    }
  }
}
