$margin: 15px;

.grid-image {
  padding: 20px 0;

  .container {
    @media only screen and (min-width: $desktopWideLarge) {
      max-width: 1318px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      max-width: 1850px;
    }

    @media only screen and (max-width: $tablet) {
      max-width: 708px;
      margin: auto;
    }
  }
  
  &__list {
    @include grid(3, 20px, 20px, 13px, 13px);
  }

  &__item {
    position: relative;

    &:hover {
      .grid-image__content {
        background: rgba($black, .55);
        opacity: 1;
      }
    }
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    opacity: 0;
  }

  &__title {
    text-align: center;
    width: 100%;
    @extend .h3;
    

    @media only screen and (min-width: $tablet) {
      margin-bottom: 59px;
      font-size: 32px;
      margin-top: 42px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      font-size: 45px;
      margin-top: 42px;
    }
  }

  &__link {
    @media only screen and (min-width: $desktopSupperWideLarge) {
      padding-top: 27px;
    }
  }

  .btn {
    @media only screen and (min-width: $desktopSupperWideLarge) {
      min-width: 211px;
      padding: 14px 23.25px 16px;
    }
  }
}
