$margin: 15px;

.grid-image {
  padding: 0 0 10px;

  @media only screen and (min-width: $tablet) {
    padding: 0;
  }

  .container {
    @media only screen and (min-width: $tablet) {
      max-width: 100%;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) and (max-width: $desktopOnly) {
      max-width: 100%;
      margin-left: $containerMarginDesktop2;
      margin-right: $containerMarginDesktop2;
    }

    @media only screen and (min-width: $desktopWideLarge) {
      max-width: $containerdesktopWideLarge2;
      margin: auto;
    }

    @media only screen and (min-width: $desktopSupperLarge) and (max-width: $desktopSupperWideLargeOnly) {
      max-width: 100%;
      margin-left: $containerMarginDesktopSupperLarge2;
      margin-right: $containerMarginDesktopSupperLarge2;        
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      max-width: $containerdesktopSupperWideLarge2;
    }
  }
  
  &__list {
    @include grid(3, 8px, 8px, 6px, 6px, 13px, 13px, 16px, 16px);
  }

  &__item {
    position: relative;
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba($black, .1);
      position: absolute;
    }

    &:before {
      top: 100%;
      left: 100%;
      transition: all .3s ease-out 0s;
    }

    &:after {
      bottom: 100%;
      right: 100%;
      transition: all .3s ease-out 0s;
    }

    &:hover {
      .grid-image__title,
      .grid-image__link {
        opacity: 1;
      }

      &:before {
        top: 0;
        left: 0;
      }

      &:after {
        bottom: 0;
        right: 0;
      }
    }
  }

  &__title {
    text-align: center;
    width: 100%;
    @extend .h3;
    z-index: 1;
    opacity: 0;
    transition: .5s;

    @media only screen and (min-width: $tablet) {
      margin-bottom: 59px;
      font-size: 32px;
      margin-top: 42px;
    }

    @media only screen and (min-width: $desktopSupperWideLarge) {
      font-size: 45px;
      margin-top: 42px;
    }
  }

  &__link {
    z-index: 1;
    opacity: 0;
    transition: .5s;

    @media only screen and (min-width: $desktopSupperWideLarge) {
      padding-top: 27px;
    }
  }

  &--no-link {
    .grid-image__content {
      &:hover {
        .grid-image__title,
        .grid-image__link {
          opacity: 0;
        }

        &:before,
        &:after {
          display: none;
        }
      }
    }
  }
}
