.lightbox-form {
  position: absolute;
  top: 30px;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $mobileOnly) {
    width: 100%;
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    @media only screen and (min-width: $tablet) {
      top: 20px;
      right: 15px;
    }

    span {
      font-size: 0;

      &:before {
        font-size: 20px;
      }
    }
  }

  &__wrap {
    background: $white;
    padding: 25.5px 0 32px;
    max-height: 100%;
    overflow: auto;
    position: relative;
    
    @media only screen and (min-width: $tablet) {
      min-width: 700px;
    }

    @media only screen and (min-width: $desktopLarge) {
      min-width: 922px;
    }

    @media only screen and (min-width: $desktopSupperLarge) {
      min-width: 1125px;
    }
  }

  &__title {
    @media only screen and (min-width: $tablet) {
      margin-bottom: 25.5px;
    }
  }

  &__body {
    padding: 0 32px;

    @media only screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__left {
    margin-bottom: 30px;

    @media only screen and (min-width: $tablet) {
      width: 50%;
      padding-right: 14px;
      margin-bottom: 0;
    }
  }

  &__right {
    @media only screen and (min-width: $tablet) {
      width: 50%;
      padding-left: 17px
    }
  }

  &__image {
    margin-bottom: 25px;
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    p {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    margin-bottom: 22px;

    br {
      display: none;

      @media only screen and (min-width: $desktopWideLarge) {
        display: block;
      }

      @media only screen and (min-width: $desktopSupperWideLarge) {
        display: none;
      }
    }
  }
}
