<div class="grid-content">
  <div class="container">
    <div class="grid-content__wrap">
      <div class="grid-content__list">
        <div class="grid-content__image">
          <img src="/pattern-lab/source/images/MA-Clients-01.jpg" alt="">
        </div>

        <div class="grid-content__body">
          <h3 class="grid-content__title">Toorak, Melbourne</h3>

          <div class="grid-content__content">
            <p>It has been an absolute pleasure to work with Mark on the interior design and furniture for my new apartment. All the pieces are so beautiful and true works of art, the whole space just looks beautiful. Just stunning.</p>

            <p><a href="" class="read-more">read more ...</a></p>
          </div>

          <div class="grid-content__name">
            <p>Glen</p>
          </div>
        </div>
      </div>

      <div class="grid-content__list">
        <div class="grid-content__image">
          <img src="/pattern-lab/source/images/MA-Clients-02.jpg" alt="">
        </div>

        <div class="grid-content__body">
          <h3 class="grid-content__title">Woollahra, Sydney </h3>

          <div class="grid-content__content">
            <p>To Mark, we know you claim to be not much of a reader, but we wanted to give you something for your bookshelf… maybe two inches of it in return for the miles for which you toiled for us.</p>

            <p><a href="" class="read-more">read more ...</a></p>
          </div>

          <div class="grid-content__name">
            <p>Markus Zusak</p>
          </div>
        </div>
      </div>

      <div class="grid-content__list">
        <div class="grid-content__image">
          <img src="/pattern-lab/source/images/MA-Clients-03.jpg" alt="">
        </div>

        <div class="grid-content__body">
          <h3 class="grid-content__title">Kew, Melbourne</h3>

          <div class="grid-content__content">
            <p>Love your work! You have created a beautiful home for us. Everyone always comments how great everything looks. </p>

            <p><a href="" class="read-more">read more ...</a></p>
          </div>

          <div class="grid-content__name">
            <p>Sharron</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
