<div class="box-social">
  <div class="container">
    <h4 class="box-social__title text--center text--black">Follow us on social</h4>

    <div class="box-social__list">
      <div class="box-social__item">
        <div class="box-social__image">
          <img src="/pattern-lab/source/images/MA-Thankyou-Facebook.jpg" alt="">
        </div>

        <div class="box-social__icon">
          <a href="#" class="icon-facebook"></a>
        </div>
      </div>

      <div class="box-social__item">
        <div class="box-social__image">
          <img src="/pattern-lab/source/images/MA-Thankyou-Instagram.jpg" alt="">
        </div>

        <div class="box-social__icon">
          <a href="#" class="icon-instagram"></a>
        </div>
      </div>
    </div>
  </div>
</div>
