<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__contact">
        <div class="container">
          <h4 class="footer__title">Contact</h4>

          <div class="footer__description">
            <p>Arrange a personalised in home consultation with one of our designers, explore design possibilities for an uncompromising result.</p>
            <p>1300 133 326</p>
            <p><a href="">info@markalexanderdesign.com.au</a></p>
            <div class="footer__link"><a href="" class="btn btn--gray">Book a Consultation</a></div>
          </div>

          <div class="footer__image">
            <p><a href="">Click through to</a></p>
            <p><a href=""><img src="/images/image-footer.png" alt=""></a></p>
          </div>
        </div>
      </div>

      <div class="footer__subscribe">
        <div class="container">
          <div class="fsubs">
            <h4 class="fsubs__title footer__title">Subscribe to News</h4>

            <div class="fsubs__description">
              <p>Be the first to know about exciting new designs from Mark Alexander Design Artistry.</p>
            </div>

            <form action="">
              <div class="form-item">
                <input type="text" id="name" placeholder="name">
              </div>
              
              <div class="form-list">
                <div class="form-item">
                  <input type="email" id="email" placeholder="email">
                </div>

                <div class="form-actions">
                  <button type="submit" class=" btn btn--small btn--gray">submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="footer__social">
        <div class="container">
          <div class="soc">
            <h4 class="soc__title footer__title">Follow</h4>

            <div class="soc__des">
              <p>Stay connected with us on social so we can keep you on the know</p>
            </div>

             <ul class="soc__list">
              <li><a href="#" class="icon-facebook">facebook</a></li>
              <li><a href="#" class="icon-instagram">instagram</a></li>
              <li><a href="#" class="icon-youtube">youtube</a></li>
              <li><a href="#" class="icon-pinterest">twitter</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__menu">
        <div class="container">
          <h4 class="footer__title">Home</h4>
          <div class="menu-second">
            <ul>
              <li><a href="">Artistry</a></li>
              <li><a href="">Floor</a></li>
              <li><a href="">Designer Interiors</a></li>
              <li><a href="">Clients</a></li>
              <li><a href="">Designer Furniture</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Lighting</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Wall</a></li>
              <li><a href="">News</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p>Mark Alexander Design Artistry © 2018 All Rights Reserved  Australia  <span>|</span>   International  <span>|</span>  <a href="">Privacy Policy</a>  <span>|</span> Strategy, Design &amp; Development by <a href="">Sentius</a></p>
    </div>
  </div>

  <div class="footer__fixed js-footer">
    <a href="" class="">BOOK A CONSULTATION</a>
  </div>
</footer>
