<div class="box-gallery">
  <div class="container">
    <div class="box-gallery__wrap">
      <div class="box-gallery__left">
        <div class="box-gallery__slider js-slide js-lightbox-product">
          <div class="box-gallery__item" data-src="/pattern-lab/source/images/product_image_PS.png">
            <div class="box-gallery__image">
              <img src="/pattern-lab/source/images/product_image_PS.png" alt="">
            </div>

            <i class="icon-enlarge">icon enlarge</i>
          </div>

          <div class="box-gallery__item" data-src="/pattern-lab/source/images/product_image_PS.png">
            <div class="box-gallery__image">
              <img src="/pattern-lab/source/images/product_image_PS.png" alt="">
            </div>

            <i class="icon-enlarge">icon enlarge</i>
          </div>

          <div class="box-gallery__item" data-src="/pattern-lab/source/images/product_image_PS.png">
            <div class="box-gallery__image">
              <img src="/pattern-lab/source/images/product_image_PS.png" alt="">
            </div>

            <i class="icon-enlarge">icon enlarge</i>
          </div>

          <div class="box-gallery__item" data-src="/pattern-lab/source/images/product_image_PS.png">
            <div class="box-gallery__image">
              <img src="/pattern-lab/source/images/product_image_PS.png" alt="">
            </div>

            <i class="icon-enlarge">icon enlarge</i>
          </div>

          <div class="box-gallery__item" data-src="/pattern-lab/source/images/product_image_PS.png">
            <div class="box-gallery__image">
              <img src="/pattern-lab/source/images/product_image_PS.png" alt="">
            </div>

            <i class="icon-enlarge">icon enlarge</i>
          </div>

          <div class="box-gallery__item" data-src="/pattern-lab/source/images/product_image_PS.png">
            <div class="box-gallery__image">
              <img src="/pattern-lab/source/images/product_image_PS.png" alt="">
            </div>

            <i class="icon-enlarge">icon enlarge</i>
          </div>
        </div>
      </div>

      <div class="box-gallery__right">
        <h4 class="box-gallery__title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h4>

        <div class="box-gallery__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p><strong>Product Code:</strong> SOFA1234 </p>

          <p><strong>At Mark Alexander Design Artistry we combine style, creativity and functionality to deliver highly customised and sophisticated living spaces, that precisely reflect and enhance your lifestyle and home. Contact us on 1300 133 326 | 0499 458 033 or enquire below to find out how we can customise an interior or stand-out furniture piece for your home.</strong></p>
        </div>

        <div class="box-gallery__link">
          <a href="" class="btn">ENQUIRE NOW</a>
          <a href="" class="btn btn--icon icon-share">share</a>
        </div>
      </div>
    </div>
  </div>
</div>