<div class="masonry-wrap">
  <div class="container">
    <ul class="masonry js-masonry">
      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence1.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="#">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>

      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence2.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>

      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence3.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>

      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence4.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>

      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence5.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>


      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence6.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>

      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence7.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>

      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence8.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>

      <li>
        <div>
          <div class="masonry__image">
            <img src="/pattern-lab/source/images/toorak_residence9.jpg" alt="">
          </div>
          <div class="masonry__bg">
            <h2 class="masonry__title"><a href="">Timeless French</a></h2>

            <div class="masonry__link"><a href="" class="btn btn--small">View Project</a></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
