<div class="box-text">
  <div class="container">
    <h4 class="box-text__title">Contemporary Luxury Interiors & Furniture </h4>

    <div class="box-text__content">
      <p>Mark Alexander Design Artistry is a luxury interior design studio offering a complete range of services, under the direction of Mark Alexander, a highly respected and talented furniture designer and artist with 30-years of experience delivering luxury interiors and handcrafted furniture for both residential and commercial projects in Australia and overseas.</p>
      <p>Mark Alexander Design Artistry combines style, creativity, functionality, and an established background in luxury furniture production to deliver highly customised, confident and sophisticated living spaces, in a variety of classic, contemporary and modern styles including</p>
      <p>An interior by Mark Alexander Design Artistry combines creative vision, enduring style, premium materials and supreme comfort, to deliver a highly personalised and captivating experience, that will enrich lives and be appreciated for generations to come.</p>
      <p>To bring your unique vision to life, we’ll guide you through our meticulous design process and take the time to listen and understand your exact needs and preferences including size, shape, style, colours and materials, as well as the mood, theme, character and functionality you want to achieve.</p>
    </div>

    <div class="box-text__link">
      <a href="#" class="btn btn--large">book a consultation</a>
      <a href="#" class="btn btn--large">our services</a>
    </div>
  </div>
</div>
