<div class="box-text">
  <div class="container">
    <h4 class="box-text__title">Luxury Interior Design and Furniture</h4>

    <div class="box-text__content">
      <p>Mark Alexander Design Artistry is a leading Melbourne interior design company offering a complete range of professional design services under the direction of Mark Alexander, a highly respected and talented designer and artist with 30-years of experience delivering high-end interior design and handcrafted quality furniture for both residential and commercial projects in Australia and overseas.</p>
      <p>At Mark Alexander Design Artistry we combine style, creativity, functionality, and an established background in luxury furniture production to deliver highly customised and sophisticated living spaces, that precisely reflect and enhance your personality, lifestyle and home. We do not compromise on quality, and each luxurious interior features completely original, one-of-a-kind designer furniture, that has been imagined, designed and made under the direction of Mark Alexander, along with the finest upholstery, drapery, floor rugs, wallpaper, lighting and finishing features. </p>
    </div>
  </div>
</div>
