<div class="container">
  <p><a class="btn" href="#">our design process</a></p>

  <p><a class="btn btn" href="#">BOOK A CONSULTATION</a></p>

  <p><a class="btn btn--small btn--gray" href="#">submit</a></p>

  <p><a class="btn btn--normal btn--gray" href="#">classic</a></p>

  <p><a class="btn btn--normal" href="#">submit</a></p>

  <p><a class="btn btn--normal" href="#">enquire now</a></p>

  <p><a class="btn btn--with-icon" href="#"><span>share</span></a></p>

  <p><a class="btn btn--white btn--normal" href="#">submit</a></p>
</div>
