<div class="container">
  <p><a class="btn" href="#">BOOK A CONSULTATION</a></p>

  <p><a class="btn btn--small bg--gray" href="#">submit</a></p>

  <p><a class="btn btn--small bg--gray" href="#">enquire now</a></p>

  <p><a class="btn btn--large" href="#">enquire now</a></p>

  <p><a class="btn btn--with-icon" href="#"><span>share</span></a></p>

  <p><a class="btn btn--full" href="#">submit</a></p>

  <p><a class="btn btn--white bg--gray" href="#">submit</a></p>
</div>
