<div class="pager">
  <div class="container">
    <ul>
      <li class="custom-pager"><a href="#" class="prev icon-arrow-left"><span>arrow-left</span></a></li>
      <li class="current"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li class="custom-pager"><a href="#" class="next icon-arrow-right"><span>arrow-right</span></a></li>
    </ul>
  </div>
</div>
